@import '../../Templates/template';

@mixin rankColor {
	color: map_get($themeColors, 'light_blue');
	@include text-glow(map-get($themeColors, 'text_highlight'));
}

@mixin rankHighlight {
	color: map_get($themeColors, 'light_golden');
	@include text-stroke(map-get($themeColors, 'light_orange'), 0.02em);
}

.talentIcon {
	composes: inlineIcon from '../../index.scss';
	margin-top: -$ui-margin !important;
	font-size: 1rem;
}

.talentValue,
.talentHighlight {
	@include font-monospace;
	font-weight: normal;
}

.talentValue {
	@include rankColor;
}

.talentHighlight {
	@include rankHighlight;
}

.talentCaption {
	@include text-perk;
	@include rankColor;
}

.talentCaptionHighlight {
	@include text-perk;
	@include rankHighlight;
}
