@import "../../../Templates/template";

.capacityCaption {
  color:map_get($themeColors,'light_blue');
}

.shieldCapacityDescriptor {

  .bar {
    margin-right: 2*$ui-margin;
    width: 5rem;
  }

  .max {
    color: map_get($themeColors, 'light_blue');
  }

  .max_decay {
    color: map_get($themeColors, 'text_highlight');
    @include text-stroke(map_get($themeColors, 'light_blue'),0.5px)
  }

  .current {
    color: map_get($themeColors, 'light_blue');
  }

  .zero {
    color: map_get($themeColors, 'dark_red');
  }
}
