@import '../../../Templates/template';

.weaponGroupDescriptor {
	display: inline-block;
	position: relative;
}

.tooltipDescriptor {
	@extend .meta;
	dt {
		font-weight: bold;
		color: map_get($themeColors, 'text_highlight');
	}
}

.value {
	@include metaValue(map_get($themeColors, 'text_main'));
}

.weaponGroupCaption {
	composes: captionWithIcon from '../../../index.scss';
	@include text-perk;
	font-weight: bold;
	color: map_get($themeColors, 'light_pink') !important;
	@include text-stroke(map_get($themeColors, 'light_purple'), 0.25px);
}
