@import '../../../Templates/template';

.abilityPowerDescriptor {
	@extend .meta;
}

.abilityPowerCaption {
	@extend .metaCaption;
	color: map_get($themeColors, 'light_golden') !important;
	@include text-stroke(map_get($themeColors, 'light_orange'), 0.25px);
}

.value {
	@include metaValue(map_get($themeColors, 'light_orange'));
}

.modifier {
	@include metaModifier(map_get($themeColors, 'light_orange'));
}
