@import '../../../Templates/template';

.aoeCaption {
	@include text-perk;
	@include text-stroke(map_get($themeColors, 'dark_red'), 0.04em);
	@include text-outline(map_get($themeColors, 'dark_orange'), 0.04em);
	color: map_get($themeColors, 'light_red');
}

.attackTypeCaption {
	@include font-monospace;
	color: map_get($themeColors, 'light_orange');
	@include text-outline(map_get($themeColors, 'dark_red'));
}

.icon {
	composes: inlineIcon from '../../../index.scss';
}

.caption {
	composes: captionWithIcon from '../../../index.scss';
	display: inline;

	.icon {
		margin-right: $ui-half-margin;
	}
}

.attackDescriptor {
	&:first-child {
		margin-top: $ui-margin * 2;
	}

	dt {
		position: relative;
	}

	.icons {
		white-space: nowrap;

		.icon {
			margin-right: $ui-half-margin;

			&:first-child {
				//margin-left: -$ui-margin;
			}

			&:last-child {
				margin-right: 2 * $ui-margin;
			}
		}
	}

	&.short {
		margin-top: 0;
	}

	dl {
		@extend .meta;

		.value {
			@include metaValue(map_get($themeColors, 'text_highlight'));
			@include text-stroke(map_get($themeColors, 'light_blue'), 0.1px);
		}

		dt {
			color: map_get($themeColors, 'text_highlight');

			&.extended {
				width: 90%;
			}

			&.subtype {
				color: map_get($themeColors, 'text_main');
				@include text-shadow(map_get($themeColors, 'dark_blue'));
			}
		}

		dd {
			.modifier {
				@include metaModifier();
				color: map_get($themeColors, 'light_orange');
			}
		}
	}

	.type {
	}
}

.type {
	@extend .metaCaption;
}

.type b,
.aoeCaption b {
	color: map-get($themeColors, 'text_highlight');
	@include font-bold;
	@include text-outline(map_get($themeColors, 'gray_bg'), 1px);
}

.damageTypeIcons {
	margin-left: 2 * $ui-margin;
}
