@import "../../../Templates/template";

.scanRange {
  @include font-monospace;
  color: map_get($themeColors, 'light_blue');
  @include text-glow(map_get($themeColors, 'light_blue'));
}

.scanCaption {
  color: map_get($themeColors, 'light_blue');
  @include text-stroke(map_get($themeColors, 'light_green'), 0.25px);
  -webkit-text-stroke: unset !important;
  text-stroke:unset !important;
}

.scanRangeDescriptor {
  @extend .meta;

  .value {
    @include font-monospace;
    color: map_get($themeColors, 'light_blue');
  }

  .zero {
    @include text-sharp;
    color: map_get($themeColors, 'light_red');
  }

  .max {
    @extend .scanRange;
  }

  .modifier{
    @include metaModifier(map_get($themeColors, 'light_blue'));
  }
}