@import '../../../Templates/template';

.hitNegative {
  @include font-monospace;
  @include text-outline(map_get($themeColors, 'light_red'), 1.5px);
  color: map_get($themeColors, 'text_highlight');
}

.hitPositive {
  @include font-monospace;
  @include text-outline(map_get($themeColors, 'light_green'), 1.5px);
  color: map_get($themeColors, 'light_golden');
}

.value {
  @include metaValue();
}

.modifier {
  @include metaModifier();
}


dl.hitChanceDescriptor {
  @extend .meta;
}

.hitChanceCaption {
  @extend .metaCaption;
}