@import "../UI/Templates/template";

$map_render_size: 10000px;

@value map_render_size: #{$map_render_size};

.combatMapContainer {
  border: 2px #CCCCCC solid;
  position: fixed;
  width: 100vh;
  height: 100vh;
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
  display: block;
  left: 0;
  top: 0;
  overflow: hidden;
  background: url('../../../assets/img/ui/space-bg.jpg') repeat center top #000;

  .combatMapCanvas {
    display: block;
    position: relative;
    transform: translate3d(-50%, -50%, 0);
    width: $map_render_size;
    height: $map_render_size;
    transform-origin: 50% 50%;
    left: 50%;
    top: 50%;
    z-index: 0;
  }

  .combatMapRender {
    will-change: transform;
    position: relative;
    /*left: 50%;
    top: 50%;
    transform-origin: 50% 50%;*/
    z-index: 1;
    width: $map_render_size;
    height: $map_render_size;

    text {
    }

    .constantStroke {
      vector-effect: non-scaling-stroke;
    }
  }
}