@import '../../../Templates/template';

.weaponSlotIcon {
	composes: inlineIcon from '../../../index.scss';
	font-size: 1.3em !important;
	margin-top: -$ui-margin !important;
	line-height: 0;
	display: inline-block;
	margin-right: $ui-half-margin;
	vertical-align: middle;
}

.weaponCaption {
	@include text-perk;
	color: map_get($themeColors, 'light_pink') !important;
	font-weight: bold;
	position: relative;
}

div.weaponDescriptor {
	@extend .itemPartDescriptorContent;
	position: relative;
	@include box-shadow();
	width: 20rem;
	display: inline-block;
	margin: 0 $ui-margin $ui-margin;
	vertical-align: top;

	.weaponSlots {
		@extend .slotsDescriptor;

		.inlineIcon {
			margin-right: $ui-half-margin;
		}

		.weaponSlotItem {
			display: inline-block;
			vertical-align: middle;
			margin-right: 0;

			&:last-child {
				margin-right: -0.15rem !important;
			}
		}
	}

	.groupIcon {
		margin-right: 2 * $ui-margin !important;
		position: relative;
	}

	div.content {
		.group {
		}
		font-size: 1em;

		.title {
			@extend .collectibleCaption;

			.groupIcon {
				font-size: 1rem !important;
			}

			.weaponSlotItem {
				font-size: 1.5rem;
				margin-left: $ui-margin;
				margin-top: -$ui-half-margin;
			}
		}
	}
}
