@import '../../../Templates/template';

.shieldGroup {
	position: relative;
}

.slotIcon {
	font-size: 1.25em;
	line-height: 0;
	vertical-align: middle;
	margin: -$ui-margin $ui-margin * 1.5 0 #{-$ui-half-margin} !important;
}

.shieldGroupCaption {
	@include text-perk;
	font-weight: bold;
	color: map_get($themeColors, 'light_blue') !important;
}
