@import "../../../Templates/template";

.rateDescriptor {
  @extend .meta;
}

.rateCaption {
  @extend .metaCaption;
}

.tooltipIcon {
  transform: scale(0.85) translateY(5%);
}

.value {
  @include metaModifier();
}

.modifier {
  @include metaModifier();
}
