@import '../../../sass/fonts';
@import '../../../sass/mixins';
@import '../../../sass/generalPalette';
@import '../../../sass/faction';

$ui-margin: 0.25rem;
$ui-half-margin: $ui-margin * 0.5;
$ui-quarter-margin: $ui-margin * 0.25;
$ui-padding: 0.4rem;
$ui-half-padding: 0.2rem;
$ui-padding-big: 0.5rem;
$hex-slot-text-size: 4.35rem;
$tooltipZIndex: 10000;
$tooltipFontSize: 0.9rem;
$hover-animation-speed: 0.2s;

$breakpoint_small: 20rem;
$breakpoint_medium: 2 * $breakpoint_small;

@mixin hover-action {
	transition: all $hover-animation-speed ease-in-out !important;
	& > svg {
		transition: all $hover-animation-speed ease-in-out !important;
	}
}

@mixin hoverable-icon($saturation: 75%, $contrast: 90%, $brightness: 95%) {
	@include hover-action;
	filter: brightness($brightness) contrast($contrast) saturate($saturation);

	cursor: pointer !important;

	text {
		cursor: pointer !important;
	}

	&:hover {
		filter: brightness(120%) contrast(125%) saturate(110%);
	}
}

@mixin text-description {
	line-height: 1.3;
	@include font-main;
	-webkit-text-fill-color: initial !important;
	-webkit-background-clip: initial !important;
	text-shadow: none;
	color: map_get($themeColors, 'text_highlight') !important;
	@include text-stroke(map_get($themeColors, 'light_green'), 0.25px);

	small {
		-webkit-text-stroke: initial !important;
		text-stroke: initial !important;
	}
}

@mixin text-lore {
	line-height: 1.3;
	@include font-main;
	font-size: 0.9em;
	color: map_get($themeColors, 'light_golden') !important;
	@include text-stroke(map_get($themeColors, 'light_green'), 0.25px);

	small {
		-webkit-text-stroke: initial !important;
		text-stroke: initial !important;
	}
}

@mixin text-perk-base {
	white-space: nowrap;
	@include font-serif;
	font-size: 0.9em;
	font-variant: small-caps;
}

@mixin text-talent {
	@include text-perk-base;
	color: map_get($themeColors, 'light_golden') !important;
	font-weight: bold;
	@include text-stroke(map_get($themeColors, 'light_red'), 0.02em);
}

@mixin text-perk {
	@include text-perk-base;
	@include text-shadow;
	text-stroke: initial !important;
	-webkit-text-stroke: initial !important;
}

@mixin text-slot-icon {
	@include font-caption-bold;
	@include text-sharp;
	text-transform: uppercase;
	color: map_get($themeColors, 'text_highlight');
	font-size: $hex-slot-text-size;
	transform: translate(0, 0.5rem);
}

@mixin action-background {
	@include gradient-vertical(map_get($themeColors, 'light_orange'), map_get($themeColors, 'golden'));
}

@mixin metaModifier(
	$positiveColor: map_get($themeColors, 'light_green'),
	$negativeColor: map_get($themeColors, 'light_orange')
) {
	@include font-monospace;
	text-shadow: none !important;
	color: map_get($themeColors, 'text_highlight');

	&.negative {
		@include text-stroke($negativeColor, 0.25px);
	}

	&.positive {
		@include text-stroke($positiveColor, 0.25px);
	}
}

@mixin metaValue($color: map_get($themeColors, 'text_highlight')) {
	color: $color;
	@include font-monospace;

	&.negative {
		@include text-stroke($color, 0.1px);
		color: map_get($themeColors, 'light_orange');
	}

	&.positive {
		@include text-stroke($color, 0.1px);
		color: map_get($themeColors, 'light_green');
	}

	&:not(.negative):not(.positive) {
		@include text-stroke($color, 0.1px);
	}
}

@mixin cinematic() {
	position: fixed;
	overflow: hidden;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	max-height: 100vmin;
	aspect-ratio: 16/9 !important;

	& > video {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

.__userForm {
	.formButton {
		@include text-perk-base;
		font-size: 1.2em;
		min-width: 18%;
		text-align: center;
		padding: $ui-padding-big $ui-padding-big $ui-padding;
		border-radius: $ui-padding;
		color: map_get($themeColors, 'light_teal');
		background-color: transparentize(map_get($themeColors, 'navy_blue'), 0.2);
		border: 1px solid map_get($themeColors, 'tealish');
		transition: all $hover-animation-speed ease-in-out;

		&:not(.selected) {
			&:hover {
				border-color: map_get($themeColors, 'light_blue');
				color: map_get($themeColors, 'light_blue');
			}

			cursor: pointer;
		}

		&.selected {
			border-color: map_get($themeColors, 'light_blue');
			background-color: map_get($themeColors, 'light_blue');
			color: map_get($themeColors, 'text_dark');
		}
	}
}

:global(#cinemaScreen) {
	@include cinematic;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	z-index: 0;
}

:global(#cinemaContent) {
	@include cinematic;
	z-index: 1;
}

.__icon_plaque {
	white-space: nowrap;
	position: relative;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	min-width: 60px;
	@include font-monospace();
}

.__dl_2columns {
	margin: 0;
	margin-block-start: initial;
	margin-block-end: initial;

	dt,
	dd {
		margin: 0;
		display: inline-block;
		vertical-align: baseline;
		box-sizing: border-box;
		white-space: nowrap;
	}

	dt {
		width: 55%;
	}

	dd {
		text-align: right;
		box-sizing: border-box;
		@include font-monospace;
		width: 45%;
	}
}

.metaHeader {
	@include font-serif;
	color: map_get($themeColors, 'text_highlight');
	font-size: 1rem;
}

.metaCaption {
	@include font-main;
	text-shadow: none !important;
	@include text-stroke(map_get($themeColors, 'outline'), 0.25px);
	color: map_get($themeColors, 'text_main') !important;
	position: relative;

	ins {
		@include font-main;
		font-size: 1rem !important;
	}
}

dl.meta {
	@extend .__dl_2columns;
	box-sizing: border-box;
	position: relative;

	dt {
		@include font-main;
		position: relative;

		&.subtype {
			padding-left: 1rem + $ui-margin * 2;
		}
	}

	dd {
	}
}

.uniqueCaption,
.collectibleCaption,
.unitCaption {
	@include font-caption-bold;
	text-transform: capitalize;
	font-size: 1.25em;
	line-height: 1.2;
}

.uniqueCaption {
	@include text-glow(map_get($themeColors, 'golden'));
	color: map_get($themeColors, 'golden');
	@include text-gradient(map_get($themeColors, 'light_red'), map_get($themeColors, 'golden'));
}

.collectibleCaption {
	@include text-glow(map_get($themeColors, 'light_blue'));
	color: map_get($themeColors, 'light_blue');
	@include text-gradient(map_get($themeColors, 'light_purple'), map_get($themeColors, 'light_blue'));
}

.unitCaption {
	color: map_get($themeColors, 'light_purple');
	@include text-glow(map_get($themeColors, 'dark_blue'));
}

.descriptorGroup {
	padding-bottom: $ui-half-margin;
	position: relative;

	&:after,
	&:before {
		display: block;
		content: '';
		position: absolute;
		border-radius: $ui-quarter-margin;
		bottom: $ui-half-margin;
	}

	&:before {
		width: calc(100% + #{$ui-margin * 3});
		//height: $ui-half-margin;
		height: calc(100% - 2em + #{$ui-margin * 1});
		//    border-radius: 50%;
		left: -$ui-margin * 1.5;
		filter: blur(1.5px) opacity(0.1);
		mix-blend-mode: normal;
		@include gradient-vertical(
			transparentize(map_get($themeColors, 'text_dark'), 1),
			map_get($themeColors, 'text_highlight')
		);
	}

	&:after {
		height: calc(100% - 2em + #{$ui-margin * 1});
		width: $ui-margin * 2;
		left: -$ui-margin * 1.5;
		//border-radius: 100%;
		filter: blur(1px) opacity(0.75);
		border-right: 2px dotted map_get($themeColors, 'text_main');
		transform: scale(-1, 1);
	}
}

.itemPartDescriptorContent {
	div.content {
		position: relative;
		padding: $ui-padding 2 * $ui-padding;
		line-height: 1.5;
		min-width: 40%;
		font-size: 1rem;
		color: map_get($themeColors, 'text_main');

		.protection {
			width: 100%;
			margin: $ui-margin 0;
		}

		dl.meta {
			width: 100%;

			.slotsDescriptor {
				white-space: nowrap;
				font-size: 1.3rem;
				margin-top: -$ui-half-margin;
			}

			&:empty {
				display: none;
			}

			dd,
			dt {
				&:empty {
					display: none;
				}
			}
		}

		dt.collectibleCaption,
		dt.uniqueCaption {
			margin-top: $ui-padding-big;
			margin-bottom: $ui-padding;
			width: 80%;
		}

		dt.unitCaption {
			width: 100%;
		}

		&.short {
			padding: $ui-margin 2 * $ui-padding;

			dt.collectibleCaption,
			dt.uniqueCaption {
				margin-top: $ui-half-padding !important;
				margin-bottom: 0 !important;
			}
		}

		dd.cost {
			width: 20%;
			padding-top: 0 !important;

			.costDescriptor {
				margin-top: -$ui-margin;
			}
		}

		.description {
			margin-top: $ui-padding;
			@include text-lore;
			margin-bottom: $ui-margin * 2;

			& + * {
				clear: both;
			}
		}
	}

	.frame {
		z-index: 0;
		left: 0;
		top: 0;
		position: absolute;
		width: 100%;
		height: 100%;
	}
}
