@import "../../../Templates/template";

.icon {
  width: 100%;
  height: 100%;
}

.item {
  composes: captionWithIcon from "../../../index.scss";
}

.targetTypeDescriptor
{
  @extend .meta;
}

.targetTypeCaption {
  @include text-perk-base;
  color: map_get($themeColors, 'light_blue') !important;
  @include text-stroke(map_get($themeColors, 'dark_blue'), 0.25px);
}

.targetTypeUnique {
  @include text-perk-base;
  color: map_get($themeColors, 'golden') !important;
  @include text-outline(map_get($themeColors,'light_pink'));
}