@import "../../../Templates/template";

.chassisListSelector {
  margin: 0 $ui-margin;
  width: 20em;

  .chassisClass {

  }

  .chassisCaption {
    color: map_get($themeColors, "light_golden");
    @include text-shadow-thin(map_get($themeColors, "golden"));
    @include font-bold;
  }
}