@import "../../UI/Templates/template";

.prototypeChassisSelector {
  width: 100%;
  height:100%;
  min-width: 20rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;

  .selector {
    width: 100%;
    flex:0 0;
    margin:0;
  }

  .img{
    width:100%;
    flex:1 0;
  }
}