@import '../../Templates/template';

$upgradeBgLeft: adjust_color(map_get($themeColors, 'blood_red'), $saturation: -10%, $lightness: -5%, $alpha: -0.2);
$upgradeBgMid: adjust_color(map_get($themeColors, 'text_dark'), $alpha: -0.25);
$upgradeBgRight: adjust_color(map_get($themeColors, 'dark_pink'), $saturation: -10%, $lightness: -15%, $alpha: -0.15);
.upgradeCard {
	user-select: none;
	position: relative;
	font-size: 1rem;
	display: block;
	max-width: 18rem;
	box-sizing: border-box;
	border-radius: $ui-padding;
	margin-top: $ui-margin;

	.upgradeLore {
		@include text-description;
		@include text-sharp;
		font-size: 0.9em;
		color: map_get($themeColors, 'text_main') !important;
		margin: $ui-margin 0;

		em {
			font-style: normal !important;
			color: map_get($themeColors, 'text_highlight') !important;
		}
	}

	&:not(.active) {
		.upgradeLore {
			transition: all $hover-animation-speed ease-in-out;
			filter: saturate(0%);
		}
	}

	.upgradeDescriptor {
		@extend .meta;

		.upgradeCaption {
			@include text-perk;
			font-weight: bold;
			transition: $hover-animation-speed all ease-out;
			color: map_get($themeColors, 'text_main') !important;
		}

		.upgradeRank {
			white-space: nowrap;
		}
	}

	&.active {
		cursor: pointer;

		.upgradeCaption {
			color: map_get($themeColors, 'light_purple') !important;
			@include text-outline(map_get($themeColors, 'dark_purple'), 0.05em);
		}

		.upgradeBg {
			.upgradeBgTexture {
				opacity: 0.3;
				mix-blend-mode: color-dodge;
				filter: saturate(100%) blur(2px) hue-rotate(-85deg);
			}
		}
	}

	&.active:hover {
		.upgradeCaption {
			color: map_get($themeColors, 'light_orange') !important;
			@include text-outline(map_get($themeColors, 'light_red'), 0.05em);
		}
		.upgradeBg {
			.upgradeBgTexture {
				opacity: 0.7;

				filter: saturate(100%) blur(5px) hue-rotate(-35deg);
			}
		}
	}
}

.upgradeBg {
	transition: all ease-out 0.2s;
	position: absolute;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 100%;
	top: 0;
	border-radius: $ui-padding;
	left: 0;
	background: $upgradeBgLeft;
	background: linear-gradient(4deg, $upgradeBgLeft 0%, $upgradeBgMid 43%, $upgradeBgRight 100%);

	.upgradeBgTexture {
		width: 100%;
		height: 100%;
		opacity: 0.35;
		transition: all $hover-animation-speed ease-in-out;
		mix-blend-mode: hard-light;
		filter: saturate(50%) blur(0px) hue-rotate(-130deg);
		position: absolute;
	}
}

.upgradeContent {
	padding: $ui-padding $ui-margin * 2;
	position: relative;
	box-sizing: border-box;
	break-inside: avoid-column;
	display: block;
	border: 2px inset map_get($themeColors, 'dark_purple');
	border-radius: $ui-padding;
	left: 0;
	top: 0;
	width: 100%;
}
