@import '../../Templates/template';

$upgradeBgLeft: adjust_color(map_get($themeColors, 'navy_blue'), $saturation: +10%, $lightness: -5%, $alpha: -0.2);
$upgradeBgMid: adjust_color(map_get($themeColors, 'dark_blue'), $alpha: -0.45);
$upgradeBgMidLearned: adjust_color(map_get($themeColors, 'dark_pink'), $lightness: -10%, $alpha: -0.35);
$upgradeBgRight: adjust_color(map_get($themeColors, 'text_dark'));
.talentCard {
	user-select: none;
	position: relative;
	font-size: 1rem;
	display: block;
	width: 20em;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: $ui-padding;
	margin-top: $ui-margin;

	hr {
		border-color: map_get($themeColors, 'text_highlight');
		mix-blend-mode: overlay;
	}

	.talentLore {
		@include text-description;
		@include text-sharp;
		font-size: 0.9em;
		color: map_get($themeColors, 'text_main') !important;
		margin: $ui-margin 0;

		em {
			font-style: normal !important;
			color: map_get($themeColors, 'text_highlight') !important;
		}
	}

	&:not(.active):not(.learned) {
		.talentLore {
			transition: all $hover-animation-speed ease-in-out;
			filter: saturate(0%);
		}

		.levelReq {
			filter: saturate(0%);
		}

		&:not(.learned) .talentBg {
			filter: saturate(15%);
		}
	}

	.talentDescriptor {
		@extend .meta;

		.talentCaption {
			@include text-perk;
			font-weight: bold;
			transition: $hover-animation-speed all ease-out;
			color: map_get($themeColors, 'text_main') !important;
			font-size: 1rem !important;

			& > span {
				margin-left: -$ui-margin/2 !important;
				font-size: 1.1rem !important;
				margin-right: $ui-margin/2 !important;
			}
		}

		.levelReq {
			white-space: nowrap;
		}

		.talentProgress {
			margin-top: $ui-margin;
			width: 100%;
			@include font-main;
			white-space: normal;
		}

		.progressBar {
			width: 85%;
		}

		.svgBar {
			margin-top: $ui-half-padding/2;
		}

		.progressValue {
			@include metaValue(map_get($themeColors, 'light_teal'));
			width: 15%;
		}
	}

	&.learned {
		.talentCaption {
			color: map_get($themeColors, 'golden') !important;
			@include text-outline(map_get($themeColors, 'blood_red'), 0.05em);
		}

		.talentBg {
			background: $upgradeBgMidLearned;
			background: linear-gradient(11deg, $upgradeBgLeft 0%, $upgradeBgMidLearned 85%, $upgradeBgRight 100%);
		}

		.talentContent {
			border-color: map_get($themeColors, 'golden');
		}
	}

	&.active {
		cursor: pointer;

		.talentCaption {
			color: map_get($themeColors, 'light_purple') !important;
			@include text-outline(map_get($themeColors, 'dark_purple'), 0.05em);
		}

		.talentBg {
			opacity: 0.6;
			filter: saturate(100%) blur(2px) hue-rotate(-5deg);

			.talentBgTexture {
				opacity: 0.9;
				mix-blend-mode: color-dodge;
			}
		}
	}

	&.active:hover {
		.talentCaption {
			color: map_get($themeColors, 'light_pink') !important;
			@include text-outline(map_get($themeColors, 'light_purple'), 0.05em);
		}

		.talentBg {
			opacity: 1;
			filter: saturate(100%) blur(5px) hue-rotate(15deg);

			.talentBgTexture {
			}
		}

		.talentContent {
			border-color: map_get($themeColors, 'dark_blue');
		}
	}
}

.talentBg {
	transition: all ease-out 0.2s;
	position: absolute;
	overflow: hidden;
	pointer-events: none;
	width: 100%;
	height: 100%;
	top: 0;
	border-radius: $ui-padding;
	left: 0;
	background: $upgradeBgLeft;
	background: linear-gradient(4deg, $upgradeBgLeft 0%, $upgradeBgMid 43%, $upgradeBgRight 100%);

	.talentBgTexture {
		width: 100%;
		height: 100%;
		opacity: 0.35;
		transition: all $hover-animation-speed ease-in-out;
		mix-blend-mode: hard-light;
		filter: saturate(50%) blur(0px) hue-rotate(-130deg);
		position: absolute;
	}
}

.talentContent {
	padding: $ui-padding $ui-margin * 2;
	position: relative;
	box-sizing: border-box;
	break-inside: avoid-column;
	display: block;
	border: 2px ridge map_get($themeColors, 'navy_blue');
	border-radius: $ui-padding;
	left: 0;
	top: 0;
	width: 100%;
	transition: border-color $hover-animation-speed ease-in-out;
}
