@import '../../../Templates/template';

.buildingType {
	position: relative;
}

.buildingTypeIcon {
	font-size: 1em;
	line-height: 0;
	vertical-align: middle;
	margin: -$ui-margin $ui-margin * 1.5 0 #{-$ui-half-margin} !important;
}

.buildingTypeCaption {
	@include text-perk-base;
	color: map_get($themeColors, 'light_teal') !important;
	@include text-stroke(map_get($themeColors, 'light_blue'), 0.25px);
	font-weight: bold;
}
