@import "../template";

.modifierDescriptor {
  display: inline-block;
  color: map_get($themeColors, 'text_highlight');

  & > span:after {
    content: ", ";
    color: map_get($themeColors, 'text_main');
  }

  & > span:last-child:after {
    display: none;
  }

}