@import '../../../Templates/template';

.damageProtectionCaption {
	@extend .metaCaption;
	&.shield {
		color: map_get($themeColors, 'light_blue') !important;
	}
	&.armor {
		color: map_get($themeColors, 'light_orange') !important;
	}
}

.negative {
	color: map_get($themeColors, 'light_orange') !important;
	-webkit-text-stroke: map_get($themeColors, 'light_red') 0.25px !important;
}

.damageProtectionDescriptor {
	margin-top: $ui-half-margin;

	.icon {
		margin-right: $ui-margin * 2.5;
		margin-top: -$ui-half-margin;
		display: inline-block;
		vertical-align: baseline;
	}

	dl.meta {
		@extend .meta;

		dt {
			width: 35% !important;
		}

		dd {
			width: 65% !important;
		}

		.icon {
			vertical-align: baseline;
			margin-right: 0;
		}
	}

	.grid-container {
		display: grid;
		width: calc(100%);
		grid-template-columns: 42% 14% 15% 15% 15%;
		grid-row-gap: $ui-margin;
		grid-auto-rows: 1.3em;
		line-height: 1.5;
		align-items: center;
		grid-template-areas: 'nil threshold bias factor minmax';
	}

	.header {
		font-size: 1.4rem;
		text-align: right;
		position: relative;

		.icon_header {
		}
	}

	.type {
		padding: 0 !important;
		line-height: 1 !important;
	}

	.grid-header-empty {
		@extend .header;
		@include text-shadow-thin();
		font-size: 1rem;
		white-space: nowrap;
		text-transform: capitalize;
		text-align: left;
		grid-area: nil;
	}

	.grid-header-bias {
		grid-area: bias;
		@extend .header;
		.icon_header {
			margin-right: -$ui-margin;
		}
	}

	.grid-header-factor {
		grid-area: factor;
		@extend .header;
		.icon_header {
			margin-right: -$ui-half-margin;
		}
	}

	.grid-header-threshold {
		grid-area: threshold;
		@extend .header;
		.icon_header {
			margin-right: -$ui-margin;
		}
	}

	.grid-header-rest {
		grid-area: minmax;
		@extend .header;
	}

	.grid-damage-type {
		text-align: left;
		white-space: nowrap;
		vertical-align: middle;
	}

	.grid-value {
		vertical-align: baseline;
		white-space: nowrap;
		@include font-monospace;
		text-align: right;
	}

	.grid-minmax {
		text-align: right;
	}
}
