@import "../../Templates/template";

svg.distribution_icon {
  width: 100%;
  height: 100%;
  @include filter-shadow();

  rect.stroked {
    stroke: #000;
    stroke-width: 0.5px;
    vector-effect: non-scaling-stroke;
  }

}