@import "../../../Templates/template";

dl.dptDescriptor {
  @extend .meta;
}

.dptCaption {
  @extend .metaCaption;
  @include text-stroke(map_get($themeColors, 'golden'), 0.25px);
  color: map_get($themeColors, 'light_orange') !important;
}

