@import "../../../Templates/template";

dl.rangeDescriptor {
  @extend .meta;
}

.rangeCaption {
  @extend .metaCaption;
}

.orbitalRange {
  color: map_get($themeColors, 'text_highlight') !important;
  @include text-stroke(map_get($themeColors, 'golden'), 0.25px);
}

em.orbitalRange {
  color: map_get($themeColors, 'light_golden') !important;
}

.value {
  @include metaValue();
}

.modifier {
  @include metaModifier();
}

