@import './generalPalette';

$damageColors: (
	warp: #ffffff,
	radiation: #b7d72f,
	magnetic: #62c3ff,
	heat: #ff8f3f,
	molecular: #49cf5a,
	antimatter: #f52a6d,
	pressure: #c34cdb,
	projectile: #26dcc0,
	none: map_get($themeColors, 'text_highlight'),
);

@function damageColorBottom($key) {
	@if map-has_key($damageColors, $key) {
		@return adjust_color(map-get($damageColors, $key), $lightness: -10%, $saturation: +15%);
	}
	@warn "invalid color";
	@return map-get($damageColors, 'none');
}

@function damageColorTop($key) {
	@if map-has_key($damageColors, $key) {
		@return adjust_color(map-get($damageColors, $key), $lightness: +15%, $saturation: -10%);
	}
	@warn "invalid color";
	@return map-get($damageColors, 'none');
}

@each $name, $hex in $damageColors {
	$damageColors: map_merge($damageColors, (#{$name}-top: damageColorTop($name)));
	$damageColors: map_merge($damageColors, (#{$name}-bottom: damageColorBottom($name)));
}

@mixin damage-color-modifiers($attribute: 'color', $prefix: '-') {
	@each $name, $hex in $damageColors {
		&#{$prefix}#{$name} {
			#{$attribute}: $hex !important;
		}
	}
}

@each $name, $hex in $damageColors {
	@value color-#{$name} #{''+$hex};
}
