@import './generalPalette';

$primaryFactionColors: (
        aquarians: #9FAEE5, // PANTONE 2716 C
        anders: #34A798, // PANTONE 2401 C
        draconians:#F6EB61, // PANTONE 100 C
        pirates:#DB0B5B, // PANTONE  2040 C
        reticulans:#4EC3E0, // PANTONE  637 C
        stellarians:#10069F, // PANTONE  Blue 072 C
        venaticians:#FF6900, // PANTONE  1505 C
        unallied:map_get($themeColors,'dark_gray'),
);

$secondaryFactionColors: (
        aquarians: #D539B5, // PANTONE  2385 C
        anders: #768692, // PANTONE 7544 C
        draconians:#025F1D, // PANTONE 2427 C
        reticulans:#F4AF23, // PANTONE  4008 C
        pirates:#3F2021, // PANTONE  4975 C
        stellarians:#101820, // PANTONE  Black 6 C
        venaticians:#671E75, // PANTONE  2613 C
        unallied: map_get($themeColors,'text_main')
);


@each $name, $hex in $primaryFactionColors {
@value faction-primary-#{$name} #{$hex};
  svg.faction-#{$name} {
      :global(.factionColorPrimary) {
        fill: #{$hex};
    }
  }
}

@each $name, $hex in $secondaryFactionColors {
@value faction-secondary-#{$name} #{$hex};
  svg.faction-#{$name} {
      :global(.factionColorSecondary) {
        fill: #{$hex};
    }
  }
}