$fonts: (
        serif: "Comfortaa",
        main: "Play",
        caption: "Rokkitt",
        mono: "Monofonto"
);

@each $name, $hex in $fonts {
@value font-#{$name} #{$hex};
}

@mixin font-serif {
  font-family: map_get($fonts,'serif'), "Garamond", "Georgia", serif;
  font-weight: 400;
}

@mixin font-main {
  font-family: map_get($fonts,'main'), "Arial", sans-serif;
  font-weight: 400;
}

@mixin font-bold {
  @include font-main;
  font-weight: 700 !important;
}

@mixin font-monospace {
  font-family: map_get($fonts,'mono'), monospace;
  font-weight: normal;
}

@mixin font-monospace-bold {
  @include font-monospace;
  font-weight: bold !important;
}

@mixin font-caption {
  font-family: map_get($fonts,'caption'), "Georgia", serif;
  font-weight: 300;
}

@mixin font-caption-bold {
  @include font-caption;
  font-weight: 800 !important;
}

