$themeColors: (
	outline: rgba(240, 240, 240, 0.7),
	gray_bg: #555,
	gray_transparent: rgba(80, 80, 80, 0.55),
	text_main: #dedede,
	text_dark: #171717,
	text_highlight: #ffffff,
	light_gray: #aaa,
	light_blue: #ccf8ff,
	light_purple: #d8afee,
	light_red: #fe5b59,
	light_pink: #eabcdc,
	light_green: #30b850,
	light_teal: #68eab7,
	grass_green: #487d1c,
	light_orange: #ffbb95,
	light_golden: #ffeac4,
	golden: #ffe321,
	dark_gray: #777,
	dark_blue: #0f52ad,
	tealish: #07715c,
	rust: #574632,
	navy_blue: #013,
	dark_orange: #ab5105,
	dark_brown: #341103,
	dark_red: #b10500,
	blood_red: #53180a,
	dark_green: #002e30,
	dark_pink: #68035a,
	dark_purple: #32024b,
	secondary_bg: rgba(14, 49, 47, 0.7),
	tooltip_bg: rgba(0, 22, 22, 0.95),
);
