@mixin text-glow($color: #fff, $size: 0.2em) {
	text-shadow: 0 0 $size adjust_color($color, $alpha: -0.15) !important;
}

@mixin text-stroke($color, $size: 1px) {
	-webkit-text-stroke: $color $size;
	text-stroke: $color $size;
	paint-order: stroke fill;
}

@mixin text-sharp() {
	text-stroke: initial !important;
	-webkit-text-stroke: initial !important;
	text-shadow: none !important;
}

@mixin text-outline($color, $blur: 1px) {
	paint-order: fill stroke;
	text-shadow: -0.5px -0.5px $blur $color, -0.5px 0.5px $blur $color, 0.5px 0.5px $blur $color,
		0.5px -0.5px $blur $color;
}

$standardShadowParameters: 3px 2px 0.2rem;
$standardShadowColor: rgba(0, 0, 32, 0.7);
@mixin text-shadow($color: $standardShadowColor) {
	text-shadow: $standardShadowParameters $color;
}

@mixin text-shadow-thin($color: $standardShadowColor) {
	text-shadow: 1px 1px 2px $color;
}

@mixin box-shadow($color: $standardShadowColor) {
	box-shadow: $standardShadowParameters $color;
}

@mixin box-glow($color: $standardShadowColor) {
	box-shadow: 0 0 5px $color;
}

@mixin filter-shadow($color: $standardShadowColor) {
	filter: drop-shadow($standardShadowParameters $color);
}

@mixin box-shadow-soft {
	box-shadow: 3px 2px 8px rgba(0, 0, 0, 0.3);
}

@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
	background-image: -webkit-linear-gradient(
		left,
		$start-color $start-percent,
		$end-color $end-percent
	); // Safari 5.1-6, Chrome 10+
	background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Opera 12
	background-image: linear-gradient(
		to right,
		$start-color $start-percent,
		$end-color $end-percent
	); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}

@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
	background-image: -webkit-linear-gradient(
		top,
		$start-color $start-percent,
		$end-color $end-percent
	); // Safari 5.1-6, Chrome 10+
	background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent); // Opera 12
	background-image: linear-gradient(
		to bottom,
		$start-color $start-percent,
		$end-color $end-percent
	); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@mixin gradient-directional($start-color: #555, $end-color: #333, $deg: 45deg) {
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1-6, Chrome 10+
	background-image: -o-linear-gradient($deg, $start-color, $end-color); // Opera 12
	background-image: linear-gradient(
		$deg,
		$start-color,
		$end-color
	); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
}

@mixin gradient-horizontal-three-colors(
	$start-color: #00b3ee,
	$mid-color: #7a43b6,
	$color-stop: 50%,
	$end-color: #c3325f
) {
	background-image: -webkit-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
	background-image: -o-linear-gradient(left, $start-color, $mid-color $color-stop, $end-color);
	background-image: linear-gradient(to right, $start-color, $mid-color $color-stop, $end-color);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down, gets no color-stop at all for proper fallback
}

@mixin gradient-vertical-three-colors(
	$start-color: #00b3ee,
	$mid-color: #7a43b6,
	$color-stop: 50%,
	$end-color: #c3325f
) {
	background-image: -webkit-linear-gradient($start-color, $mid-color $color-stop, $end-color);
	background-image: -o-linear-gradient($start-color, $mid-color $color-stop, $end-color);
	background-image: linear-gradient($start-color, $mid-color $color-stop, $end-color);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down, gets no color-stop at all for proper fallback
}

@mixin gradient-radial($inner-color: #555, $outer-color: #333) {
	background-image: -webkit-radial-gradient(circle, $inner-color, $outer-color);
	background-image: radial-gradient(circle, $inner-color, $outer-color);
	background-repeat: no-repeat;
}

@mixin damage-gradient($hex) {
	@include gradient-vertical(
		adjust_color($hex, $saturation: - 30%),
		adjust_color($hex, $lightness: -20%, $alpha: -0.15)
	);
}

@mixin text-gradient($start-color: #555, $end-color: #333, $deg: 180deg) {
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-repeat: repeat-x;
	background-image: -webkit-linear-gradient($deg, $start-color, $end-color); // Safari 5.1-6, Chrome 10+
	background-image: -o-linear-gradient($deg, $start-color, $end-color); // Opera 12
	background-image: linear-gradient($deg, $start-color, $end-color);
}

@mixin vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
