@font-face {
	font-family: 'Monofonto';
	src: url('../../assets/fonts/monofonto.ttf');
}

@import 'fonts';

body,
html,
div,
p,
img,
a {
	margin: 0;
	padding: 0;
}

body,
html {
	font-size: 16px;
	@include font-main;
}

svg text {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

svg text::selection {
	background: none;
}

:global(#pageContainer) {
	&.container {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		min-height: 100vh;
	}

	&.with-background {
		background: url('../../assets/img/ui/space-bg.jpg') repeat center center;
	}

	&.with-columns {
		column-count: 6;
		column-gap: 0;
		column-width: 20rem;
		margin-left: -5px;

		.__panel {
			break-inside: avoid;
			margin: 5px !important;
		}
	}
}

div,
dl,
dt,
dd,
a,
img {
	box-sizing: border-box;
}
