@import '../../Templates/template';

.graphicSettingsForm {
	@extend .__userForm;
	.settingSection {
		padding: $ui-padding $ui-padding-big 0;
		border-bottom-left-radius: 25%;
		border-bottom-right-radius: 25%;
		border-bottom: 1px dotted map_get($themeColors, 'tealish');
		margin-top: $ui-margin * 2;

		.settingsTitle {
			text-align: center;
			@include font-serif;
			font-size: 1.35em;
			color: map_get($themeColors, 'light_blue');
		}

		.settingsCaption {
			@include font-main;
			text-align: center;
			color: map_get($themeColors, 'text_main');
			font-size: 0.8em;
		}

		.settingList {
			list-style: none;
			padding: 0;
			display: flex;
			justify-content: space-evenly;

			.settingListItem {
				@extend .formButton;
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
