@import "../../../Templates/template";

.absorptionChart {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  .chart {
    flex: 0 0 auto;
    width: 32%;
  }
  .icon {
    pointer-events: none;
  }
}
