@import "../../../Templates/template";

.learningCurveCaption {
  @include font-monospace;
  color: map_get($themeColors, 'text_highlight') !important;
  @include text-stroke(map_get($themeColors, 'light_pink'), 0.25px);
}

.learningCurveDescriptor
  {
  @extend .meta;
  z-index: 10001 !important;

  .caption {
    @extend .metaCaption;
  }
}