@import '../../UI/Templates/template';

$baseSize: 2560px;
$buildingSize: 470px;
$rowPadding: 10px;
$colPadding: 10px;
$scaleFactor: 1;
$percentSize: calc($buildingSize / $baseSize * $scaleFactor * 100vmax);
$horOffsetX: 180px;
$horOffsetY: 85px;
$verOffsetX: 305px;
$verOffsetY: 130px;

@value baseSize #{$baseSize};

@value buildingSize #{$buildingSize};

@value percentSize #{$percentSize};

@value scaleFactor #{$scaleFactor};

@value hOffsetX #{$horOffsetX};

@value hOffsetY #{$horOffsetY};

@value vOffsetX #{$verOffsetX};

@value vOffsetY #{$verOffsetY};

.buildingsContainer {
	filter: brightness(115%) contrast(105%);
	user-select: none;
	width: 100%;
	aspect-ratio: 16/9;
	position: fixed;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	overflow: hidden;
}

$shadowOptions: inset 0 0 20px 5px;
.borderShadow {
	box-shadow: $shadowOptions black;
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.buildingAnchor {
	position: absolute;
	left: 50%;
	top: 50%;
}

.buildingSprite {
	will-change: transform;
	position: absolute;
	width: $percentSize;
	height: $percentSize;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transform: translate(-50%, -50%);
	pointer-events: none;

	.label {
		@include font-bold;
		@include text-glow(map_get($themeColors, 'light_teal'), 0.5vmax);
		color: map_get($themeColors, 'light_blue');
		display: inline-block;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, 50%);
		pointer-events: none;
		opacity: 0;
		font-size: 1.5vmax;
		transition: $hover-animation-speed * 0.5 ease-in-out;
	}

	& > div {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	.svgMask {
		pointer-events: auto;

		svg {
			width: 100%;
			height: 100%;
			display: block;
		}

		&:hover {
			svg path {
				stroke: #00ff00;
			}
		}
	}

	&.dummy {
		filter: saturate(100%) brightness(80%) contrast(100%) opacity(100%);
		pointer-events: none !important;
	}

	.cursor {
		opacity: 0;
		background-image: url('../../../../assets/img/buildings/foundation.png');

		transition: $hover-animation-speed * 0.5 ease-in-out;
	}

	&:not(.dummy) {
		.placeholder {
			transition: $hover-animation-speed * 0.5 ease-in-out;
			filter: brightness(100%) contrast(100%) saturate(110%) drop-shadow(3px 2px 4px rgba(0, 0, 0, 0.2));
		}

		&:hover {
			.placeholder {
				filter: brightness(120%) contrast(105%) saturate(130%) drop-shadow(0px 0px 4px rgba(0, 255, 155, 0.25));
			}

			.label {
				opacity: 1;
			}

			.cursor {
				opacity: 0.5;
				mix-blend-mode: color-dodge;
			}
		}
	}
}
