@import "../../UI/Templates/template";

.prototypeChassisImage {
  max-width: 60rem;
  min-height: 20rem;
  position: relative;

  svg {
    :global(.factionColorPrimary), :global(.factionColorSecondary), symbol, path {
      transition: fill $hover-animation-speed*0.5 ease-in;
    }
  }
}

$shadowOptions: inset 0 0 7vmin 4vmin;

.border {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 2px solid map_get($themeColors, 'text_dark');
  box-shadow: $shadowOptions black;

  &.air {
    box-shadow: $shadowOptions white;
  }

  &.water {
    box-shadow: $shadowOptions map_get($themeColors, 'navy_blue');
  }

  &.magnetic {
    box-shadow: $shadowOptions map_get($themeColors, 'dark_green');
  }
}

.additive {
  mix-blend-mode: screen;
}

.svgWrapper {
  width: 100%;
  height: 100%;
}

.svgImage {
  width: 100%;
  height: 100%;
}

