@import "../template";

.tooltip {
  //transition: opacity 0.2s ease-in-out;

  &:empty {
    opacity: 0;
  }

  &:not(:empty) {
    opacity: 1;
  }
}

.tooltipInner {
  transition:background 0.2s ease-in-out;
}