<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        body {
            position: relative;
            margin:0;
            padding:0;
            background-color: #000;
            overflow:hidden;
            color: #FFF;
            width:100vmax;
            height:100vmin;
            transform-origin: 50vmin 50vmin;
        }

        @media all and (orientation:portrait){
            body {
                width:100vmax;
                height:100vmin;
                overflow-x:scroll;
                overflow-y:hidden;
                transform: rotate(90deg);
            }
        }

        #pageContainer{
            left:0;
            top:0;
            width:100%;
            min-height:100%;
        }

        .__showAfterLoad {
            visibility: hidden;
        }
    </style>

</head>
<body>
<% include partials/preloader.ejs %>
<div id="pageContainer" class="__showAfterLoad"></div>
</body>
</html>