<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{Title}}</title>
    <style type="text/css">
        body, html {
            width: 100vw;
            height: 100vh;
            position: relative;
            overflow: hidden;
        }

        #pageContainer {
            position: relative;
            left: 0;
            top: 0;
            min-width: 480px;
            min-height: 480px;
        }
    </style>
</head>
<body>
<div id="pageContainer"></div>
</body>
</html>