@import "../../../components/UI/Templates/template";

.prototypePreviewBlock {
  position: relative;
  @extend .itemPartDescriptorContent;
  @include box-shadow();
  width: $breakpoint_small;
  display: inline-block;
  margin: $ui-margin;
  vertical-align: top;
  .group {
    font-size: 1em;
    width:80%;
  }

  .effectDescriptor {
    max-width: unset;
    margin: $ui-margin -1.5*$ui-padding;
  }

  .title {
    @extend .unitCaption;
    white-space: normal;
  }

  .abilityDescriptor {
    max-width: unset;
    margin: $ui-margin -1.5*$ui-padding;
  }

}