@import '../../Templates/template';

.factionCaptionDescriptor {
	position: relative;
}

.factionCaption {
	@include font-bold;
	font-size: 1rem;
	text-transform: capitalize !important;
	font-variant: small-caps;
	color: map_get($themeColors, 'text_highlight');
	mix-blend-mode: screen;
	paint-order: stroke fill;
	letter-spacing: 0.1em;
}

.factionIcon {
	font-size: 125%;
	width: 1em;
	height: 1em;
	margin-left: -$ui-half-margin !important;
	margin-right: $ui-margin * 1.5 !important;
	margin-top: -$ui-margin !important;
}
