@import '../../../Templates/template';

.hitPointsInlineDescriptor {
	white-space: nowrap;

	svg {
		/*width: 0.8em;
    height: 0.8em;*/
		display: inline-block;
		vertical-align: baseline;
		margin-bottom: $ui-quarter-margin !important;
	}
}
