@import '../../../Templates/template';

$iconSize: 3.5rem;
$abilityBgLeft: adjust_color(map_get($themeColors, 'dark_purple'), $saturation: -10%, $lightness: -15%, $alpha: -0.25);
$abilityBgMid: adjust_color(map_get($themeColors, 'tooltip_bg'), $saturation: -10%, $lightness: -10%, $alpha: -0.15);
$abilityBgRight: adjust_color(map_get($themeColors, 'dark_orange'), $saturation: -20%, $lightness: -25%, $alpha: -0.05);
$abilityBgActive: adjust_color(map_get($themeColors, 'dark_red'), $saturation: -30%, $lightness: -30%, $alpha: -0.15);

.abilityWrapper {
	border-radius: $ui-padding;
	padding: 0;
	margin-top: $ui-margin;
	position: relative;
	max-width: 20rem;
	min-height: $iconSize;
	border: 2px ridge transparentize(map_get($themeColors, 'dark_gray'), 0.5);
	transition: border-color ease-out 0.2s, opacity ease-out 0.2s;

	&.usable {
		border-color: map_get($themeColors, 'dark_purple');

		.abilityBg {
			opacity: 0.85;
			background: $abilityBgLeft;
			background: linear-gradient(164deg, $abilityBgLeft 0%, $abilityBgMid 43%, $abilityBgRight 100%);
		}

		cursor: pointer;

		&:not(:hover) {
			.description {
				color: map_get($themeColors, 'text_main') !important;
				@include text-sharp();
			}
		}

		&:hover {
			border-color: map_get($themeColors, 'dark_orange') !important;

			.caption {
				@include text-stroke(map_get($themeColors, 'light_red'), 0.25px);
			}

			.abilityBg {
				opacity: 1;
				background: $abilityBgLeft;
				background: linear-gradient(164deg, $abilityBgRight 0%, $abilityBgMid 43%, $abilityBgActive 100%);
			}
		}
	}

	&:not(.usable) {
		.abilityBg {
			opacity: 0.75;
			background: $abilityBgLeft;
			background: linear-gradient(164deg, $abilityBgLeft 0%, $abilityBgMid 43%, $abilityBgRight 100%);
		}
	}

	.abilityBg {
		transition: all ease-out 0.2s;
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 100%;
		top: 0;
		border-radius: $ui-padding;
		left: 0;

		canvas {
			mix-blend-mode: normal;
			position: absolute;
		}
	}
}

.disabled {
	color: map_get($themeColors, 'light_gray') !important;
}

.abilityPlaque {
	position: relative;
	break-inside: avoid-column;
	font-size: 1rem;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	min-height: $iconSize;
	box-sizing: border-box;
	padding: $ui-padding $ui-padding $ui-padding $ui-margin;

	.icon {
		width: $iconSize;
		height: $iconSize;
		grid-area: icon;
	}

	.text {
		display: grid;
		position: relative;
		width: 100%;
		box-sizing: border-box;
		grid-template-columns: $iconSize 5fr 2fr 2fr;
		grid-column-gap: $ui-margin;
		grid-template-rows: repeat(3, $iconSize * 0.5) auto;
		align-items: center;
		text-align: left;
		grid-template-areas: 'caption caption target target' 'icon cooldownCaption cooldownCaption cooldownCaption' 'icon rangeCaption rangeCaption rangeCaption' 'description description description description';
	}

	.caption {
		@include text-perk;
		font-size: 1em;
		font-weight: bold;
		color: map_get($themeColors, 'light_orange');
		@include text-glow(map_get($themeColors, 'light_red'));
		padding-left: $ui-margin;
		grid-area: caption;
		white-space: nowrap;
		transition: all ease-out 0.2s;
	}

	.description {
		margin-top: $ui-margin;
		box-sizing: border-box;
		padding: 0 $ui-margin;
		grid-area: description;
		display: block;
		@include text-description;
		font-size: 90%;
		transition: all ease-out 0.2s;

		&.disabled {
			@include text-stroke(map_get($themeColors, 'text_dark'), 0.25px);
		}

		.pictogram {
			margin-right: 0 !important;
		}

		em {
			white-space: nowrap;
			@include font-main;
			color: map_get($themeColors, 'text_highlight');
			@include text-shadow(map_get($themeColors, 'navy_blue'));
		}
	}

	.ifDisabled {
		grid-column: 1 / span 4;
		grid-row: 2 / span 2;
		justify-self: stretch;
		align-self: stretch;
		display: block;
		position: relative;
		@include text-glow(map_get($themeColors, 'dark_orange'));
		text-align: center;
		@include font-monospace-bold;
		padding-top: $iconSize * 0.15;
		font-size: $iconSize * 0.5;
		box-sizing: border-box;
		vertical-align: center;
		border-radius: $ui-padding;
		border: 1px dotted map_get($themeColors, 'dark_red');
		color: map_get($themeColors, 'light_red') !important;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: $ui-padding;
			@include gradient-directional(
				transparentize(map_get($themeColors, 'text_dark'), 0.2),
				transparentize(map_get($themeColors, 'dark_red'), 0.2),
				10deg
			);
			mix-blend-mode: overlay;
		}
	}

	.rangeCaption {
		@extend .meta;
		grid-area: rangeCaption;
	}

	.cooldownCaption {
		@extend .meta;
		grid-area: cooldownCaption;
	}

	.value {
		text-align: right;
		@include font-monospace;
		margin-top: $ui-half-margin;
		color: map_get($themeColors, 'text_highlight');
	}

	.target_caption {
		color: map_get($themeColors, 'light_gray');
		@include text-stroke(map_get($themeColors, 'light_orange'), 0.01em);

		svg:last-of-type {
			margin-right: -$ui-margin;
		}
	}

	.target {
		text-align: right;
		grid-area: target;
	}

	.cooldownValue {
		@extend .value;
		grid-area: cooldownValue;
	}
}
