@import "../template";

$iconRadius: 1.15rem;

.iconWithValue {
  @extend .__icon_plaque;

  .icon {
    @include filter-shadow();
    position: relative;
    margin: -$iconRadius/2+2*$ui-margin $ui-margin $ui-margin -$ui-margin !important;
    width: $iconRadius*2;
    height: $iconRadius*2;
    box-sizing: border-box;
    vertical-align: middle;
  }

  .svg {
    width: 100%;
    height: 100%;
  }

}