@import '../../../Templates/template';

.priorityDescriptor {
	@extend .meta;
}

.priorityCaption {
	@extend .metaCaption;
}

.value {
	@include metaValue();
}

.modifier {
	@include metaModifier();
}
