@import "../../../Templates/template";

.armorListSelector {
  margin: 0 $ui-margin;
  width: 20em;

  .armorCaption {
    color: map_get($themeColors, "light_orange");
    @include text-shadow-thin(map_get($themeColors, "dark_orange"));
    @include font-bold;
  }
}