@import '../../Templates/template';

@mixin xpColor {
	color: map_get($themeColors, 'golden') !important;
	@include text-shadow-thin(map-get($themeColors, 'light_red'));
}

@mixin lvlColor {
	color: map_get($themeColors, 'light_teal') !important;
	@include text-glow(map-get($themeColors, 'golden'), 0.5em);
	@include text-stroke(map-get($themeColors, 'light_golden'), 0.25px);
}

.iconText {
	@include font-caption-bold;
	@include text-sharp;
	text-transform: uppercase;
	color: map_get($themeColors, 'text_highlight');
	font-size: $hex-slot-text-size;
	transform: translate(0.1rem, 0.55rem);
}

.xpIcon {
	font-size: 1.1rem;
	composes: inlineIcon from '../../index.scss';
	margin-top: -$ui-margin !important;
	margin-left: -0.05rem;
}

.xpValue {
	@include font-monospace;
	font-weight: normal;
	@include xpColor;
}

.xpCaption {
	@include font-main;
	@include xpColor;
}

.lvlValue {
	@include font-monospace;
	font-weight: normal;
	@include lvlColor;
}

.lvlCaption {
	@include font-main;
	@include lvlColor;
}
