@import '../../Templates/template';

.settingsWrapper {
	display: flex;
	min-width: 100%;
	z-index: 10001;
	position: absolute;
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.4);

	.settingsContainer {
		@extend .__userForm;

		width: 100%;
		max-width: 50rem;
		margin: auto;
		padding: $ui-padding-big 0 $ui-padding-big;
		position: relative;
		border-radius: $ui-padding-big;
		user-select: none;
		@include gradient-horizontal-three-colors(
			rgba(0, 0, 0, 0),
			map_get($themeColors, 'tooltip_bg'),
			50%,
			rgba(0, 0, 0, 0)
		);
		font-size: 1.2rem;

		.saveButton {
			@extend .formButton;
			max-width: 20rem;
			margin: $ui-padding-big * 2 auto $ui-margin;
		}
	}
}
