@import '../../../Templates/template';

$iconSize: 3rem;
$auraBgLeft: adjust_color(map_get($themeColors, 'dark_green'), $saturation: -14%, $lightness: -15%, $alpha: -0.15);
$auraBgMid: adjust_color(map_get($themeColors, 'secondary_bg'), $saturation: -10%, $lightness: -10%, $alpha: -0.1);
$auraBgRight: adjust_color(map_get($themeColors, 'dark_orange'), $saturation: -40%, $lightness: -25%, $alpha: -0.25);

.auraWrapper {
	border-radius: $ui-padding;
	padding: 0;
	margin-top: $ui-margin;
	position: relative;
	max-width: 20rem;
	min-height: $iconSize;
	border: 2px ridge map_get($themeColors, 'secondary_bg');
}

.auraBg {
	transition: all ease-out 0.2s;
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	border-radius: $ui-padding;
	left: 0;
	opacity: 1;
	background: $auraBgLeft;
	background: linear-gradient(174deg, $auraBgLeft 0%, $auraBgMid 43%, $auraBgRight 100%);

	canvas {
		mix-blend-mode: normal;
		position: absolute;
	}
}

.disabled {
	color: map_get($themeColors, 'light_gray') !important;
}

.auraCaption {
	position: relative;
	break-inside: avoid-column;
	font-size: 1rem;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	min-height: $iconSize;
	box-sizing: border-box;
	padding: $ui-padding $ui-padding $ui-padding $ui-margin;

	.icon {
		width: $iconSize;
		height: $iconSize;
		grid-area: icon;
	}

	.text {
		display: grid;
		position: relative;
		width: 100%;
		box-sizing: border-box;
		grid-template-columns: $iconSize 5fr 2fr 2fr;
		grid-column-gap: $ui-margin;
		grid-template-rows: repeat(3, $iconSize * 0.5) auto;
		align-items: center;
		text-align: left;
		grid-template-areas: 'caption caption target target' 'icon rangeCaption rangeCaption rangeCaption' 'icon friendlyCaption friendlyCaption friendlyCaption' 'description description description description';
	}

	.caption {
		@include text-perk;
		font-size: 1em;
		font-weight: bold;
		color: map_get($themeColors, 'light_green');
		@include text-stroke(map_get($themeColors, 'light_blue'), 0.25px);
		padding-left: $ui-margin;
		grid-area: caption;
		white-space: nowrap;
	}

	.description {
		margin-top: $ui-margin;
		box-sizing: border-box;
		padding: 0 $ui-margin;
		grid-area: description;
		display: block;
		@include text-description;
		font-size: 90%;

		&.disabled {
			@include text-stroke(map_get($themeColors, 'text_dark'), 0.25px);
		}

		.pictogram {
			margin-right: 0 !important;
		}

		em {
			white-space: nowrap;
			color: map_get($themeColors, 'text_highlight');
			@include text-sharp;
			font-style: normal;
			@include font-main;
		}
	}

	.ifDisabled {
		grid-column: 1 / span 4;
		grid-row: 2 / span 2;
		justify-self: stretch;
		align-self: stretch;
		display: block;
		position: relative;
		@include text-glow(map_get($themeColors, 'dark_purple'));
		text-align: center;
		@include font-monospace-bold;
		padding-top: $iconSize * 0.15;
		font-size: $iconSize * 0.5;
		box-sizing: border-box;
		vertical-align: center;
		border-radius: $ui-padding;
		border: 1px dotted map_get($themeColors, 'dark_green');
		color: map_get($themeColors, 'light_red') !important;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: $ui-padding;
			@include gradient-directional(
				transparentize(map_get($themeColors, 'text_dark'), 0.2),
				transparentize(map_get($themeColors, 'dark_red'), 0.2),
				10deg
			);
			mix-blend-mode: overlay;
		}
	}

	.rangeCaption {
		@extend .meta;
		grid-area: rangeCaption;
	}

	.selectiveCaption {
		@extend .meta;
		grid-area: friendlyCaption;

		.selective {
			@extend .metaCaption;
			color: map_get($themeColors, 'light_green') !important;
			@include text-sharp;
		}

		.nonSelective {
			@extend .metaCaption;
			color: map_get($themeColors, 'light_orange') !important;
			@include text-sharp;
		}
	}

	.value {
		text-align: right;
		@include font-monospace;
		margin-top: $ui-half-margin;
		color: map_get($themeColors, 'text_highlight');
	}

	.target_caption {
		color: map_get($themeColors, 'light_gray');
		@include text-stroke(map_get($themeColors, 'light_blue'), 0.01em);

		svg:last-of-type {
			margin-right: -$ui-margin;
		}
	}

	.target {
		text-align: right;
		grid-area: target;
	}
}
