<style type="text/css">
    #preloader {
        display: inline-block;
        position: fixed;
        width:100vw;
        height:100vh;
        left:0;
        top:0;
        transition:all 2s ease-out;
        opacity:1;
        filter:blur(0);
        z-index: 1000;
        background-color:#000;
    }

    .preloader-img {
        background-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg' viewBox='-50 -50 100 100' preserveAspectRatio='xMidYMid' class='preloader' style='background: none;' color-rendering='optimizeQuality' shape-rendering='geometricPrecision'%3E%3Cdefs%3E%3Cfilter id='f1' x='-80' y='-80' width='160' height='160'%3E%3CfeGaussianBlur in='SourceAlpha' stdDeviation='5'/%3E%3CfeOffset dx='0.7' dy='1' result='offsetblur'/%3E%3CfeFlood flood-color='%23FFF' flood-opacity='0.6'/%3E%3CfeComposite in2='offsetblur' operator='in'/%3E%3CfeMerge%3E%3CfeMergeNode/%3E%3CfeMergeNode in='SourceGraphic'/%3E%3C/feMerge%3E%3C/filter%3E%3C/defs%3E%3Cg filter='url(%23f1)'%3E%3Ccircle cx='0' cy='0' fill='none' stroke-linecap='round' r='40' stroke-width='4' stroke='%23FFF' stroke-dasharray='62.82 188.46' transform='rotate(179.932 50 50)'%3E%3Canimate attributeName='stroke' values='%23000;%23000;%23e5ff02;%23e5ff02;%23000;%23000' keyTimes='0; 0.2; 0.25; 0.5; 0.55; 1' dur='6s' repeatCount='indefinite'/%3E%3CanimateTransform attributeName='transform' type='rotate' calcMode='linear' values='0 0 0;360 0 0' keyTimes='0;1' dur='2.2s' begin='0s' repeatCount='indefinite'/%3E%3C/circle%3E%3Ccircle cx='0' cy='0' fill='none' stroke-linecap='round' r='30' stroke-width='4' stroke='%23FFF' stroke-dasharray='31.41 31.41 31.41' transform='rotate(-179.932 50 50)'%3E%3Canimate attributeName='stroke' values='%239f3fff;%239f3fff;%23000;%23000;%239f3fff' keyTimes='0; 0.25; 0.3; 0.95; 1' dur='6s' repeatCount='indefinite'/%3E%3CanimateTransform attributeName='transform' type='rotate' calcMode='linear' values='0 0 0;-360 0 0' keyTimes='0;1' dur='3.5s' begin='0s' repeatCount='indefinite'/%3E%3C/circle%3E%3Ccircle cx='0' cy='0' fill='none' stroke-linecap='round' r='20' stroke-width='4' stroke='%23e4812f' stroke-dasharray='31.4' transform='rotate(120.932 50 50)'%3E%3Canimate attributeName='stroke' values='%23000;%23000;%23ffc46d;%23ffc46d;%23000;%23000' keyTimes='0; 0.45; 0.5; 0.75; 0.8; 1' dur='6s' repeatCount='indefinite'/%3E%3CanimateTransform attributeName='transform' type='rotate' calcMode='linear' values='5 0 0;365 0 0' keyTimes='0;1' dur='1.2s' begin='0s' repeatCount='indefinite'/%3E%3C/circle%3E%3Ccircle cx='0' cy='0' fill='none' stroke-linecap='round' r='10' stroke-width='4' stroke='%23FFF' stroke-dasharray='25 100' transform='rotate(-179.932 50 50)'%3E%3Canimate attributeName='stroke' values='%23f23ab1;%23000;%23000;%23f23ab1;%23f23ab1' keyTimes='0; 0.05; 0.7; 0.75; 1' dur='6s' repeatCount='indefinite'/%3E%3CanimateTransform attributeName='transform' type='rotate' calcMode='linear' values='0 0 0;-360 0 0' keyTimes='0;1' dur='1.9s' begin='0s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3Cg transform='scale(0.05 0.05) translate(-105 -105)'%3E%3Cpolygon points='100,10 40,198 190,78 10,78 160,198' fill='%23000' stroke='%23FFF' fill-rule='evenodd'%3E%3Canimate attributeName='fill' values='%23444;%23000;%23444' dur='0.5s' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke' values='%23000;%23fff;%23000' dur='1.5s' repeatCount='indefinite'/%3E%3CanimateTransform attributeName='transform' type='rotate' calcMode='linear' values='0 105 110;360 105 110' keyTimes='0;1' dur='1200ms' begin='0s' repeatCount='indefinite'/%3E%3C/polygon%3E%3C/g%3E%3C/svg%3E");
        width: 70px;
        height: 70px;
        position: absolute;
        left:50%;
        top:50%;
        transition:all 2s ease-in;
        transform-origin: 50% 50%;
        transform: translate(-50%, -50%) scale(1);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    #preloader.fadeOut {
        opacity:0;
        pointer-events: none;
        filter:blur(25px);
    }
    #preloader.fadeOut .preloader-img {
        transform: translate(-50%, -50%) scale(50);
    }

    #preloader span {
        position:absolute;
        top:50%;
        left:50%;
        transform: translateX(-50%) translateY(55px);
        display:inline-block;
        font-family: "Play","Courier New",sans-serif;
        color:#FFF;
        font-size:1vmax;
        white-space: nowrap;
    }
</style>
<section id='preloader'>
    <div class="preloader-img"></div>
    <span>Loading application...</span>
</section>