@import "../../../Templates/template";


.dmgType{
  margin-right: 2*$ui-margin;
}

.dmgDescription {
  @include text-shadow;
  @include font-monospace;

  .range {
    svg {
      width: 0.8em;
      height: 0.8em;
      display: inline-block;
      vertical-align: baseline;
      margin: 0 2*$ui-margin;
    }
  }
}
