@import "../../Templates/template";


.rawMaterialsCaption {
  @extend .metaCaption;
  color: map_get($themeColors, "light_blue") !important;
  @include text-stroke(map_get($themeColors, "light_pink"), 0.5px);
}

.rawMaterialsValue {
  color: map_get($themeColors, "light_pink") !important;
  @include text-stroke(map_get($themeColors, 'light_blue'), 0.25px);
}

.rawMaterialsDescriptor {
  @extend .meta;

  .positive {
    @include font-monospace;
    color: map_get($themeColors, 'light_pink');
  }

  .negative {
    @include font-monospace;
    color: map_get($themeColors, 'light_red');
  }
}


.rawMaterials {
  @extend .__icon_plaque;
  width: 60px !important;
  vertical-align: middle;
}

.rawMaterials-gradient {
  @include gradient-vertical(map_get($themeColors, "dark_gray"), map_get($themeColors, "light_gray"));
}