@import "../../../Templates/template";

.slotsOptions {
  @extend .meta;

  dt {
    width:35%;
  }

  dd {
    width:65%;
  }
}

.slotsCaption {
  @extend .metaCaption;
}

.slotIcon {
  margin-right:0 !important;
  margin-left:$ui-margin !important;

  &:last-child{
    margin-right:-$ui-margin !important;
  }
}
