@import "../../../Templates/template";

.shieldCapacityModifierDescriptor {
  position: relative;
  @extend .__dl_2columns;
}

.caption {
  color: map_get($themeColors, 'light_blue');
}

.value_positive {
  color: map_get($themeColors, 'light_blue');
}

.value_negative {
  color: map_get($themeColors, 'light_orange');
}
