@import "../../../Templates/template";


.deliveryCaption{
  @include text-perk-base;
  color: map_get($themeColors, 'text_highlight') !important;
  @include text-stroke(map_get($themeColors, 'light_red'), 0.25px);
}

.deliveryDescriptor {
  position: relative;
}