@import "../../Templates/template";

.bayCapacityDescriptor {
  @extend .meta;
}

.bayCapacityCaption {
  @extend .metaCaption;
  color:map_get($themeColors,'text_highlight') !important;
  @include text-stroke(map_get($themeColors,'rust'),0.25px);
}

.bayCapacityValue {
  @include metaValue(map_get($themeColors,'rust'));
  @include text-sharp;
}

.modifier {
  @include metaModifier(map_get($themeColors,'rust'),map_get($themeColors,'light_red'));
}