@import "../../../Templates/template";

.weaponListSelector {
  margin: 0 $ui-margin;
  width: 20em;


  .weaponGroup {
    color: map_get($themeColors, "light_pink");
    @include font-bold
  }

  .weaponCaption {
    color: map_get($themeColors, "light_pink");
    @include text-shadow-thin(map_get($themeColors, "light_red"));
    @include font-bold;
  }
}