@import "../../UI/Templates/template";

.menuSprite {
  position: absolute;
  user-select: none;
  &:not(.disabled){
    cursor: pointer;
  }

  svg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }

  isolation: isolate;

  &:hover  {
    .menuSpriteCaption{
      @include text-stroke(map_get($themeColors, 'golden'),0.05vmin);
      @include text-glow(map_get($themeColors, 'light_golden'));
      @include text-gradient(map_get($themeColors, 'light_golden'),map_get($themeColors, 'text_highlight'));
      color:map_get($themeColors,'text_highlight');
    }
  }

}

.imageLayer {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  @include hover-action;
}

.imageBloom {
  mix-blend-mode: screen;
}

.menuSpriteCaption {
  @include font-bold;
  @include text-glow(map_get($themeColors,'dark_blue'));
  @include text-stroke(map_get($themeColors, 'light_blue'),0.05vmin);
  @include text-gradient(map_get($themeColors, 'light_teal'),map_get($themeColors, 'light_blue'));
  color: map_get($themeColors, 'light_blue');
  font-size: 1.75vmax;
  display: inline-block;
  outline: none;
  position: relative;
  @include hover-action;
  text-underline:none !important;
  text-decoration: none !important;
}

:not(.menuSprite) .menuSpriteCaption:hover {
  @include text-stroke(map_get($themeColors, 'golden'),0.05vmin);
  @include text-glow(map_get($themeColors, 'light_golden'));
  @include text-gradient(map_get($themeColors, 'light_golden'),map_get($themeColors, 'text_highlight'));
  color:map_get($themeColors,'text_highlight');
}
