@import "../../Templates/template";

.text {
  @include font-caption-bold;
  font-size: 7rem;
}

.small {
  @extend .text;
  font-size: 5rem !important;
}

.arrows {
  @extend .text;
  font-family: fantasy;
  font-size: 4rem !important;
}

.protectionIcon {

}

.protectionCaption{
  @extend .metaCaption;
}
