@import "../../Templates/template";

.repairDescriptor {
  @extend .meta;
}

.repairCaption {
  @extend .metaCaption;
  color:map_get($themeColors,'light_red') !important;
  @include text-stroke(map_get($themeColors,'light_pink'),0.25px);
}

.repairPoints {
  @include metaValue(map_get($themeColors,'light_pink'));
  @include text-sharp;
}

.modifier {
  @include metaModifier(map_get($themeColors,'light_pink'),map_get($themeColors,'text_main'));
}