@import "../../../Templates/template";

.factionRestriction {
  @extend .meta;

  dt {
    width: 100%;
  }
}

.restrictionCaption, .exclusiveCaption {
  @include text-perk-base;
}

.restrictionCaption {
  color: map_get($themeColors, 'light_red');
  @include text-outline(map_get($themeColors, 'dark_red'), 0.25px);
}

.exclusiveCaption {
  color: map_get($themeColors, 'golden');
  @include text-outline(map_get($themeColors, 'dark_orange'), 0.25px);
}