@import "../../../Templates/template";

.auraIcon {
  display: inline-block;
  width: 3em;
  height: 3em;
  position: relative;
  vertical-align: middle;

  .svg {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &.disabled {
    .svg {
      filter: saturate(0%) contrast(85%) blur(2px);
    }
  }

}

