@import "../../Templates/template";

.engineeringDescriptor {
  @extend .meta;
}

.engineeringCaption {
  @extend .metaCaption;
  color:map_get($themeColors,'light_green') !important;

}

.engineeringPoints {
  @include metaValue(map_get($themeColors,'light_green'));
  @include text-sharp;
}

.modifier {
  @include metaModifier();
}