@import "../../Templates/template";


.energyDescriptor {
  @extend .meta;
}

.energyCaption {
  @extend .metaCaption;
  color: map_get($themeColors, "light_purple") !important;
  @include text-stroke(map_get($themeColors, "light_blue"), 0.1px);
}

.energyValue {
  color: map_get($themeColors, "light_purple") !important;
  @include text-stroke(map_get($themeColors, "light_blue"), 0.1px);
}

.energy {
  @extend .__icon_plaque;
  width: 60px !important;
  vertical-align: middle;
}

.modifier {
  @include metaModifier(map_get($themeColors,'light_purple'),map_get($themeColors,'light_red'));
}

.energy-gradient {
  @include gradient-vertical(map_get($themeColors, "light_purple"), map_get($themeColors, "dark_blue"));
}