@import "../../../Templates/template";

.buildingCatalogue {
  width: 20rem;
  margin: $ui-margin;
  vertical-align: top;
  display: inline-block;

  .selector {
    display: block;
    width: 100% !important;
    margin: 0 0 $ui-margin !important;
  }

  .descriptor {
    display: block;
    width: 100% !important;
    margin: 0 !important;
  }

}