@import "../../Templates/template";

.hexIcon {
  composes: inlineIcon from "../../index.scss";
  width: 1em;
  height: 1em;
  position: relative;
  display: inline-block;
  vertical-align: middle;

  .hoverable{
    .svg, .svg text {
      cursor: pointer !important;
    }
  }

  &:not(.highlight).hoverable {
    @include hoverable-icon(75%,80%,85%);

  }
  &.highlight.hoverable {
    @include hoverable-icon(100%,100%,110%);
  }

}

.svg {
  width: 100%;
  height: 100%;
}