@import "../../../Templates/template";

.decayCaption {
  color: map_get($themeColors, 'light_blue');
}

.shieldOverchargeDescriptor {
  position: relative;
  @extend .__dl_2columns;
  font-size: 1rem;

  dt {
  }



  .value {
    @include font-monospace;
    @include text-stroke(map_get($themeColors, 'light_blue'),0.5px);
    color: map_get($themeColors, 'text_highlight');
  }

  .mod {
    @include font-monospace;
    @include text-sharp;
    color: map_get($themeColors, 'light_blue');
  }
}