@import "../../../Templates/template";

.durationDescriptor, .resistanceDescriptor {
  @extend .meta;
}

.durationIcon {
  margin-right: 0 !important;
}

.durationCaption {
  @extend .metaCaption;
}

.resistanceCaption {
  @extend .metaCaption;
  color: map_get($themeColors, 'light_purple') !important;
}

.durationValue {
  @include metaValue();
  @include text-sharp;
  color: map_get($themeColors, 'light_blue') !important;
}

.resistanceValue {
  @include metaValue();
  @include text-sharp;
  color: map_get($themeColors, 'light_orange') !important;
}

.modifier {
  @include metaModifier();
}