@import "../../../Templates/template";

.actionDescriptor {
  @extend .meta;
}

.actionIcon {

}

.actionCaption {
  @include text-perk;
  font-weight: bold;
  color: map_get($themeColors, 'golden');
  @include text-stroke(map_get($themeColors, 'light_orange'), 0.25px);
}

.actionLabelCaption {
  @include font-monospace;
  color: map_get($themeColors, 'text_dark');
}