@import '../../../Templates/template';

.equipmentGroupDescriptor {
	.equipmentIcon {
		font-size: 1.25em;
		vertical-align: middle;
		margin-right: $ui-margin * 1.5;
		margin-top: -$ui-half-margin;
	}
}
