@import "../../Templates/template";

.productionCapacityDescriptor {
  @extend .meta;
}

.productionCapacityCaption {
  @extend .metaCaption;
  color:map_get($themeColors,'light_teal') !important;
  @include text-stroke(map_get($themeColors,'light_golden'),0.25px);
}

.productionCapacityValue {
  @include metaValue(map_get($themeColors,'light_teal'));
  @include text-sharp;
}

.modifier {
  @include metaModifier(map_get($themeColors,'light_teal'),map_get($themeColors,'light_red'));
}