@import "../../template";

.tabsWrapper {
  -webkit-tap-highlight-color: transparent;

  dl.tabsHeader {
    box-sizing: border-box;
    margin: 0 -2*$ui-padding 2*$ui-margin !important;

    & > dt {
      padding: 0 1px;
      width: 100% !important;
    }
  }
}

$color: map_get($themeColors, 'gray_bg');

.tabsHeader {
  @extend .meta;

  .tabsList {
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    font-size: 1rem;

    .tabItem, .selectedItem {

      &:focus, &:active {
        outline: none;
      }

      align-self: stretch;
      -webkit-tap-highlight-color: transparent;
      @include font-bold;
      padding: $ui-margin $ui-padding-big;
      text-align: center;
      display: inline-block;
      border-right: 1px solid $color;
      transition: all 0.5s ease-out;
    }

    .tabItem {
      cursor: pointer;
      color: map_get($themeColors, 'text_main');
      overflow: hidden;
      flex: 1 1 auto;
      @include gradient-vertical(transparent, $color);

      &:first-child {
        border-left: 1px solid $color;
      }

      &:last-child {
        border-right: 1px solid $color;
      }

      &:not(.selectedItem) {
        //border-bottom:2px dotted map_get($themeColors,'text_dark');
      }

      &:not(.selectedItem):hover {
        @include gradient-vertical(transparentize(map_get($themeColors, 'light_blue'), 0.8),$color);
        color: map_get($themeColors, 'light_blue');
      }
    }

    .selectedItem {
      color: map_get($themeColors, 'light_blue') !important;
      background: transparent;
      //@include gradient-vertical(map_get($themeColors,'gray_bg'),transparentize(map_get($themeColors,'gray_bg'),0));
      cursor: default;
      overflow: visible;
      //flex: 4 1 auto !important;
    }
  }
}