@import "../../Templates/template";



.productionCostValue {
  @include metaValue(map_get($themeColors,'light_pink'));
  @include text-stroke(map_get($themeColors, 'light_blue'), 0.25px);
}

.totalCostValue {
  @include metaValue(map_get($themeColors,'tealish'));
  @include text-stroke(map_get($themeColors, 'light_golden'), 0.25px);
}

.costIcon {
  composes: inlineIcon from "../../index.scss";
  margin-top:0 !important;
}


.costModifierDescriptor {
  @extend .meta;

  dt {

  }

  .positive {
    @include font-monospace;
    color: map_get($themeColors, 'light_blue');
  }

  .negative {
    @include font-monospace;
    color: map_get($themeColors, 'light_orange');
  }
}