@import "../../../Templates/template";

.chassisClassDescriptor {
  position: relative;
}

.chassisCaption {
  @include text-perk;
  font-size: 0.9em;
  font-weight: bold !important;
  color: map_get($themeColors, 'light_golden') !important;
}

.chassisIcon {
  width:1em;
  height:1em;
  vertical-align: baseline;
}