@import "../../../Templates/template";

$iconSize:5rem;

.chassisIcon {
  float: left !important;
  width: $iconSize !important;
  height: $iconSize !important;
  font-size: 2em;
  position: relative;
  @include gradient-radial(map_get($themeColors,'text_dark'),map_get($themeColors,'text_dark'));
  border:map_get($themeColors,'secondary_bg') 1px solid;
  margin: $ui-margin $ui-margin 0 0 !important;
}

.abilityDescriptor {
  max-width: unset;
  margin: $ui-margin -1.5*$ui-padding;
}

.talentDescriptor {
  max-width: unset;
  margin: $ui-margin -1.5*$ui-padding;
}

.restrictions {
  margin-bottom:$ui-padding;
}
.tabs {
  margin-top:$ui-margin !important;
}

div.chassisDescriptor {
  position: relative;
  @extend .itemPartDescriptorContent;
  @include box-shadow();
  width: 20rem;
  display: inline-block;
  margin: $ui-margin;
  vertical-align: top;

  dt.chassisCaption {
    width:40%;
    white-space: nowrap;
  }

  .chassisSlots {
    @extend .slotsDescriptor;
    white-space: nowrap;
    width:60%;
    font-size:1.3em;

    .chassisSlotItem {
      display: inline-block;
      vertical-align: middle;
      margin-top: -$ui-margin;
      margin-right: 0;

      &:last-child {
        margin-right: -0.15rem;
      }
    }
  }

  .title{
   @extend .collectibleCaption;
  }
  .title_unique{
   @extend .uniqueCaption;
  }
}