@import "../../Templates/template";

.productionSpeedDescriptor {
  @extend .meta;
}

.productionSpeedCaption {
  @extend .metaCaption;
  color:map_get($themeColors,'golden') !important;
  @include text-stroke(map_get($themeColors,'light_teal'),0.25px);
}

.productionSpeedValue {
  @include metaValue(map_get($themeColors,'light_teal'));
  @include text-sharp;
}

.modifier {
  @include metaModifier(map_get($themeColors,'light_golden'),map_get($themeColors,'light_red'));
}