@import '../../../Templates/template';

.shieldSlotIcon {
	composes: inlineIcon from '../../../index.scss';
	font-size: 1.3em !important;
	margin-top: -$ui-margin !important;
	line-height: 0;
	display: inline-block;
	margin-right: $ui-half-margin;
	vertical-align: middle;
}

.shieldCaption {
	@extend .metaCaption;
	color: map_get($themeColors, 'light_blue') !important;
	font-weight: bold;
}

div.shieldDescriptor {
	@extend .itemPartDescriptorContent;
	position: relative;
	@include box-shadow();
	width: 20rem;
	display: inline-block;
	margin: $ui-margin;
	vertical-align: top;

	.group {
		font-size: 1em;
	}

	.shieldSlots {
		@extend .slotsDescriptor;

		.shieldSlotItem {
			display: inline-block;
			vertical-align: middle;
			margin-top: -$ui-margin;
			margin-right: 0;

			&:last-child {
				margin-right: -0.15rem !important;
			}
		}
	}

	.shieldCapacity {
		color: map_get($themeColors, 'light_blue');
	}

	.title {
		@extend .collectibleCaption;

		.shieldSlotItem {
			font-size: 1.5rem;
			margin-top: -$ui-margin;
		}
	}
}
