@import "../../../Templates/template";

.damageModifier {
  @extend .meta;

  .caption {
    @extend .metaCaption;
    @include text-stroke(map_get($themeColors, 'light_red'), 0.5px);
    color: map_get($themeColors, 'golden') !important;
  }

  .modifier{
    @include font-monospace;
    text-shadow: none !important;

    &.negative {
      color: map_get($themeColors, 'light_orange') !important;
      @include text-stroke(map_get($themeColors, 'dark_red'), 0.5px);
    }

    &.positive {
      @include text-stroke(map_get($themeColors, 'light_red'), 0.5px);
      color: map_get($themeColors, 'golden') !important;
    }
  }
}