@import "../../Templates/template";

.factionBanner {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-bottom:$ui-margin;
}