@import "../../../Templates/template";

.text {
  @include text-slot-icon;
}


.equipmentSlotIcon {

}

.equipmentCaption {
  @include text-perk;
  font-weight: bold;
  color: map_get($themeColors, 'light_green') !important;
  @include text-shadow-thin(map_get($themeColors, "dark_green"));
  position: relative;
}

.equipmentSlotDescriptor {
  &.hoverable {
    cursor: pointer !important;

    text {
      cursor: pointer !important;
    }

    &:hover {
      filter: brightness(120%) saturate(120%);
    }
  }
}