@import "../../UI/Templates/template";

.combatMapTerrain {
  .bottomLayer {
    opacity: 1
  }

  .topLayer {
    will-change: transform;

    &.forestLike {
      mix-blend-mode: hard-light;
      opacity: 0.4;
    }

    &.dustLike {
      mix-blend-mode: screen;
      opacity: 0.3;
    }

    &.steamLike {
      will-change: transform;
      opacity: .8;
      mix-blend-mode: soft-light;
      transform-origin: 50% 50%;
    }

    &.gasLike {
      opacity: 0.6;
      mix-blend-mode: screen;
    }
  }

}