@import '../template';

$side: 1em;
$l: 0.75em;
$dur: 10s;

@mixin plane($w, $h) {
	width: $w;
	height: $h;
	transform-style: preserve-3d;
}

@mixin view($p) {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	perspective: $p;
}

@mixin center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

@mixin colorPlane($color1: map_get($themeColors, 'light_purple'), $color2: map_get($themeColors, 'light_blue')) {
	box-shadow: 0 0 $side * 0.5 transparentize($color1, 0.2), inset 0 0 $side * 0.5 transparentize($color2, 0.2);

	&::before,
	&::after {
		content: '';
		display: block;
		@include center;
		width: 10%;
		height: 10%;
		border-radius: 100%;
		background: map_get($themeColors, 'text_highlight');
		border: $side * 0.1 solid $color2;
		box-sizing: border-box;
		box-shadow: 0 0 $side * 0.5 2px $color1;
	}
}

.view {
	@include view($side * 2);
	pointer-events: none;
}

.plane {
	@include plane($side, $side);

	&.main {
		@include center;
		transform: rotateX(60deg) rotateZ(-30deg);
		animation: rotate $dur infinite linear;
	}

	.circle {
		width: $side;
		height: $side;
		position: absolute;
		transform-style: preserve-3d;
		border-radius: 100%;
		//border: 2px solid white
		box-sizing: border-box;
		opacity: 1;
		&.blue {
			@include colorPlane();
		}

		&.green {
			@include colorPlane(map_get($themeColors, 'light_green'), map_get($themeColors, 'light_golden'));
		}

		&.red {
			@include colorPlane(map_get($themeColors, 'light_red'), map_get($themeColors, 'light_orange'));
		}

		&::before {
			transform: translateZ(-$l);
		}

		&::after {
			transform: translateZ($l);
		}

		@for $i from 1 through 6 {
			&:nth-child(#{$i}) {
				transform: rotateZ($i * 60deg) rotateX(63.435deg);
			}
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotateX(0) rotateY(0) rotateZ(0);
	}
	100% {
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
	}
}
