@import "../../UI/Templates/template";


.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: stretch;
  width: 100%;

  .button {
    display: inline-block;
    flex: 1 1 auto;
    text-align: center;
    padding: $ui-padding $ui-margin;
    @include font-bold;
    text-transform: capitalize;
    font-size: 1rem;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: map_get($themeColors, 'text_main');
    background-color: map_get($themeColors, 'text_dark');
    filter: brightness(100%) saturate(60%) contrast(100%);
    @include hoverable-icon();

    &.reset {
      flex: 1 1 50%;
      background-color: map_get($themeColors, 'dark_red');
      border-color: map_get($themeColors, 'dark_red');
      color: map_get($themeColors, 'light_orange');
      &:hover {
        background-color: map_get($themeColors, 'dark_red')!important;
        border-color: map_get($themeColors, 'light_red');
        color: map_get($themeColors, 'text_dark') !important;
      }
    }

    &.cancel {
      flex: 1 1 50%;
      border-color: map_get($themeColors, 'light_red');
      color: map_get($themeColors, 'light_orange');
      &:hover {
        color: map_get($themeColors, 'light_red') !important;
      }
    }

    &.select {
      background-color: map_get($themeColors, 'navy_blue');
      color: map_get($themeColors,'text_highlight');
      &:hover {
        border-color:map_get($themeColors,'light_golden') !important;
        color: map_get($themeColors, 'light_golden') !important;
        background-color: map_get($themeColors, 'tooltip_bg') !important;

      }
    }

  }
}

.hoverDescriptor {
  padding: 0 !important;
  border:none !important;
  background-color: transparent !important;
  font-size:1rem;
  &>div{
    margin:0;
  }
}

.prototypeSlotsOverlay {
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  position: absolute;

  &.locked {
    background-color: transparentize(map_get($themeColors,'tooltip_bg'),0.2);
  }

  .catalogue {
    width: 100%;
    max-width: 100%;
    margin:0;
  }

  .selector {
    width: 100%;
    left: 0;
    top: 0;
    position: relative;
  }

  .weaponSlots {
    left: 0;
    top: 0;
    justify-content: flex-start;
  }

  .armorSlots {
    right: 0;
    top: 0;
    justify-content: flex-end;
  }

  .shieldSlots {
    right: 0;
    bottom: 0;
    justify-content: flex-end;
    flex-direction: column-reverse;

  }

  .equipmentSlots {
    left: 0;
    bottom: 0;
    justify-content: flex-start;
    flex-direction: column-reverse;
  }

  .weaponSlots, .armorSlots {
    margin-top:$ui-margin*3;
    .slot{
      //margin-top: -0.4rem;
    }
  }

  .shieldSlots, .equipmentSlots {
    .slot{
      //margin-bottom: -0.4rem;
    }
    margin-bottom:$ui-margin*2;
  }

  .weaponSlots, .armorSlots, .shieldSlots, .equipmentSlots {
    filter:drop-shadow(0px 0px 5px #555);
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0 $ui-padding;
    font-size: 11vmin;
    line-height: 0;

    .slot {
      height: auto;
      flex: 0 0 auto;

      &:before {
        content: '';
        float: left;
        padding-top: 100%;
      }

      .slotIcon {
        /*  width:100%;
          height:100%;*/
      }
    }

  }
}