@import "../../../Templates/template";

dl.aptDescriptor {
  @extend .meta;
}

.tooltipIcon {
  transform: scale(0.85) translateY(5%);
}

.aptCaption {
  @extend .metaCaption;
  @include text-stroke(map_get($themeColors, 'golden'), 0.25px);
  color: map_get($themeColors, 'light_orange') !important;
}

