@import "../../../Templates/template";

.hitPoints {
  @include font-monospace;
  @include text-stroke(map_get($themeColors, 'light_pink'), 0.5px);
  color: map_get($themeColors, 'text_highlight');
}

.hitPointsDescriptor {
  position: relative;
  @extend .__dl_2columns;
  font-size: 1rem;


  .caption {
    color: map_get($themeColors, 'text_highlight');
    @include text-stroke(map_get($themeColors, 'dark_red'), 0.25px);
  }

  .value {
    @include font-monospace;
    color: map_get($themeColors, 'text_highlight');
  }

  .zero {
    @extend .hitPoints;
    color: map_get($themeColors, 'light_red');
  }

  .max {
    @extend .hitPoints;
  }

  .modifier {
    @extend .hitPoints;
    color: map_get($themeColors, 'text_highlight');
    @include text-stroke(map_get($themeColors, 'dark_red'), 0.5px);
  }
}