@import "../../../Templates/template";

.weaponGroupIcon {
}

.weaponEntityIcon {
  height: 1.2em;
  width: 1.2em;
  margin-left: -0.15em;
}

.weaponCaption {
  @include text-sharp;
  color: map_get($themeColors, 'light_pink') !important;
  @include font-bold;
  font-size: 90%;
  position: relative;
}


.weaponModifierDescriptor {
  @extend .meta;

  dt {
    //padding-left:calc( #{$ui-margin} + 2 * #{$ui-padding} );
  }

  .modifier {
    @include metaModifier();
  }
}