@import '../../Templates/template';

.segmentedBar {
	height: 0.7rem;
	width: 3rem;
	margin-top: -0.2rem;
	display: inline-block;
	vertical-align: middle;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}

.blink {
	animation: blink $hover-animation-speed * 6 ease-in infinite;
}
