@import '../../../Templates/template';

.promotionClassTitle {
	@include text-perk-base;
	@include text-gradient(map_get($themeColors, 'text_highlight'), map_get($themeColors, 'golden'));
	font-weight: bold;
	font-size: 1.1em;
	line-height: 0;
	color: map_get($themeColors, 'light_orange');
	@include text-stroke(map_get($themeColors, 'light_orange'), 0.03em);
}

.classIcon {
	margin-left: -$ui-half-margin;
	margin-top: -$ui-margin;
	vertical-align: middle;
}

.promotionClassDescriptor {
	margin-top: 2 * $ui-margin !important;
	@extend .meta;

	& > dt {
		width: 100% !important;
	}

	.caption {
		@extend .metaCaption;
	}

	.description {
		white-space: normal !important;
		@include text-description;
		font-size: 90%;
		margin-top: $ui-margin;
		line-height: 1.25;
		color: map_get($themeColors, 'light_green');
		em {
			white-space: nowrap;
			color: map_get($themeColors, 'text_highlight');
			@include text-sharp;
			font-style: normal;
			@include font-main;
		}

		em + em {
			white-space: nowrap;
		}
	}
}
