@import "../../../Templates/template";

.attacksQuantityDescriptor {
  color: map_get($themeColors, 'golden');
  svg {
    width: .8em;
    height: .8em;
    margin: 0 $ui-margin;
    display: inline-block;
    vertical-align: baseline;
  }
}

.tooltipIcon {
  transform: scale(0.85) translateY(5%);
}