@import '../../../Templates/template';

.fullWidth {
	max-width: unset;
	margin: $ui-margin -1.5 * $ui-padding 0;
}

.tabs {
	margin-top: 0 !important;
}

div.buildingDescriptor {
	position: relative;
	@extend .itemPartDescriptorContent;
	@include box-shadow();
	min-width: 20rem;
	margin: $ui-margin;
	vertical-align: top;

	dt.buildingCaption {
		width: 70%;
		white-space: nowrap;
	}

	.buildingTier {
		white-space: nowrap;
		width: 30%;

		& > b {
			@include text-gradient((map_get($themeColors, 'text_highlight'), map_get($themeColors, 'light_teal')));
			text-transform: capitalize;
			@include font-bold;
			color: map_get($themeColors, 'light_teal');
			@include text-stroke(map_get($themeColors, 'tealish'), 0.02em);
			paint-order: stroke fill !important;
		}
	}

	.factoryClass {
		display: inline-block;

		&:not(:last-child):after {
			content: ',  ';
			display: inline-block;
			margin-right: $ui-margin * 2;
		}
	}

	.title {
		@extend .collectibleCaption;
	}

	.title_unique {
		@extend .uniqueCaption;
	}
}
