@import "../../Templates/template";

.researchDescriptor {
  @extend .meta;
}

.researchCaption {
  @extend .metaCaption;
  color:map_get($themeColors,'light_orange') !important;

}

.researchPoints {
  @include metaValue(map_get($themeColors,'light_orange'));
  @include text-sharp;
}

.modifier {
  @include metaModifier();
}