@import '../../../Templates/template';

.icon {
	composes: inlineIcon from '../../../index.scss';
	margin-right: $ui-half-margin;
}

.damageTypeIcons {
	.icon {
		margin-left: 0 !important;

		&:first-child {
		}

		&:last-child {
			margin-right: -$ui-half-margin;
		}
	}
}
