@import "../../Templates/template";

.actionPhaseDescriptor {
  @extend .meta;

  & > dt {
    width: 100% !important;
    white-space: normal !important;
  }
}

.actionPhaseCaption {
  @extend .metaCaption;
}

.actionPhaseContent {
  line-height:2;
}

.actionPhaseButton {

}