@import '../../UI/Templates/template';

.buildingSprite {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 100%;

	svg {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
	}
}

$shadowOptions: inset 0 0 20px 5px;

.imageFill {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	pointer-events: none;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.imageSprite {
	top: 0;
	left: 0;
	position: absolute;
	background-repeat: no-repeat;
	background-size: cover;
}

.border {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 2px solid map_get($themeColors, 'text_dark');
	box-shadow: $shadowOptions black;
}

.cursorGroup {
	rect {
		transition: all $hover-animation-speed * 0.5 ease-in-out !important;
		&:hover {
			background: #0f0;
		}
	}
}

.cursor {
	path {
		transition: all $hover-animation-speed * 0.5 ease-in-out !important;
	}
	mix-blend-mode: normal;
	pointer-events: all;
	clip-rule: nonzero;
}

.imageWrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	&.transparent {
		background: none !important;
	}
	background-image: url('../../../../assets/img/buildings/floor.jpg');
	background-size: 1920px 1080px;
	background-position: center center;
	background-repeat: repeat;

	filter,
	feTurbulence,
	feColorMatrix {
		transition: all 0s;
	}

	.texture {
		mix-blend-mode: normal;
	}

	div.imageLayer {
		position: absolute;
	}

	.imageLayer {
		@extend .imageFill;
		transition: all $hover-animation-speed * 0.5 ease-in-out;
		pointer-events: none;
	}

	.light {
	}

	.shimmer {
		mix-blend-mode: screen;
		animation: shimmer-animation 4.5s infinite;
	}

	.sparks {
		mix-blend-mode: hard-light;
		pointer-events: none;
	}

	.spark {
		transition: none !important;
		opacity: 0;
		animation: spark-animation 6s infinite;
	}

	.floorCursor {
		@extend .imageFill;
		mix-blend-mode: color-dodge;
		transition: all $hover-animation-speed * 0.5 ease-in-out;
		background-image: url('../../../../assets/img/buildings/foundation.png');
	}
}

@keyframes spark-animation {
	0% {
		opacity: 0;
	}

	5% {
		opacity: 0;
	}
	7% {
		opacity: 1;
	}
	20% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes shimmer-animation {
	0% {
		opacity: 1;
	}
	10% {
		opacity: 0.82;
	}
	25% {
		opacity: 0.87;
	}
	30% {
		opacity: 0.9;
	}
	41% {
		opacity: 0.82;
	}
	50% {
		opacity: 0.85;
	}
	55% {
		opacity: 0.9;
	}
	60% {
		opacity: 0.78;
	}
	72% {
		opacity: 0.98;
	}
	82% {
		opacity: 0.82;
	}
	90% {
	}
	100% {
		opacity: 1;
	}
}
