@import "../../../Templates/template";

.damageCaption {
  @include text-stroke(map_get($themeColors, 'light_red'), 0.5px);
  color: map_get($themeColors, 'golden') !important;
}

.dmgModifier {
  white-space: nowrap;

  abbr {
    margin-right: 0 !important;
  }

  svg {
  }
}
