@import '../template';

.listSelector {
	display: block;
	@include gradient-directional(
		map_get($themeColors, 'secondary_bg'),
		transparentize(map_get($themeColors, 'text_dark'), 0.3),
		60deg
	);
	color: map_get($themeColors, 'text_main');
	width: 100%;
	border-radius: 0;
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none;
}

.listSelectorContent {
	display: block;
	position: relative;
	width: 100%;
	text-align: center;
	white-space: nowrap;
	border-radius: 0;
	box-sizing: border-box;
	padding: $ui-padding-big * 0.5 1em;
}

.icon {
	margin: 0;
	vertical-align: baseline;
}

.scrollLeft {
	left: 0.1em;

	svg {
		left: -0.9em;
	}
}

.scrollRight {
	right: 0.1em;

	svg {
		right: -0.9em;
	}
}

.scrollButton {
	cursor: pointer;
	display: block;
	width: 3em;
	height: 1em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	@include hover-action;
	filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0)) brightness(100%) saturate(100%) contrast(100%);

	svg {
		position: relative;
		top: 0;
		width: 1em;
		height: 1em;
	}

	&:hover {
		filter: drop-shadow(0px 0px 2px map_get($themeColors, 'light_golden')) brightness(120%) saturate(120%)
			contrast(125%);
	}
}
