@import "../../../Templates/template";

.buildingListSelector {
  margin: 0 $ui-margin;
  min-width: 20em;

  .buildingType {

  }

  .buildingCaption {
    color: map_get($themeColors, "text_main");
    @include text-stroke(map_get($themeColors,'tealish'), 0.25px);
    @include font-bold;
    text-transform: capitalize;
  }
}