@import '../../../Templates/template';

.equipmentSlotIcon {
	composes: inlineIcon from '../../../index.scss';
	font-size: 1.2rem;
	line-height: 0;
	display: inline-block;
	margin-right: $ui-half-margin;
	vertical-align: middle;
	margin-top: -$ui-margin;
}

.equipmentCaption {
	@include text-perk;
	font-weight: bold;
	color: map_get($themeColors, 'light_green') !important;
	position: relative;
}

.effectDescriptor {
	max-width: unset;
	margin: $ui-margin -1.5 * $ui-padding;
}

div.equipmentDescriptor {
	.abilityDescriptor {
		max-width: unset;
		margin: $ui-margin -1.5 * $ui-padding;
	}

	position: relative;
	@extend .itemPartDescriptorContent;
	@include box-shadow();
	width: 20rem;
	display: inline-block;
	margin: $ui-margin;
	vertical-align: top;

	.equipmentSlots {
		@extend .slotsDescriptor;

		.equipmentSlotItem {
			display: inline-block;
			vertical-align: middle;
			margin-top: -$ui-margin;
			margin-right: 0;

			&:last-child {
				margin-right: -0.15rem;
			}
		}
	}

	.group {
		font-size: 1em;
	}

	.title {
		@extend .collectibleCaption;

		.equipmentSlotIcon {
			font-size: 1.5rem;
			margin-top: -$ui-margin;
		}
	}
}
