@import "../../../Templates/template";

.shieldListSelector {
  margin: 0 $ui-margin;
  width: 20em;

  .shieldCaption {
    color: map_get($themeColors, "light_blue");
    @include text-shadow-thin(map_get($themeColors, "dark_blue"));
    @include font-bold;
  }
}