@import "../../../Templates/template";

.cooldownDescriptor {
  @extend .meta;
}

.cooldownCaption {
  @extend .metaCaption;

}

.cooldown {
}

.value {
  @include metaValue();
  @include text-sharp;
}

.current {
  color: map_get($themeColors, 'light_blue') !important;
}

.base {
  color: map_get($themeColors, 'text_highlight') !important;
}

.modifier {
  @include metaModifier();
}