@import "../../../Templates/template";

.icon {
  composes: inlineIcon from "../../../index.scss";
}

.resourceModifierDescriptor {
  @extend .meta;
}

.modifier {
  @include metaModifier(map_get($themeColors,'light_golden'),map_get($themeColors,'light_red'));
}