@import "../../../Templates/template";

.equipmentListSelector {
  margin: 0 $ui-margin;
  width: 20em;
}

.equipmentCaption {
  color: map_get($themeColors, "light_green");
  @include text-shadow-thin(map_get($themeColors, "dark_green"));
  @include font-bold;
}