@import "../../../Templates/template";

.icon {
  composes: inlineIcon from "../../../index.scss";
  font-size: 1.2em !important;
}

.defensePerkCaption {
  b {
    font-size: 1.1rem;
  }

  @include text-perk;
  color: map_get($themeColors, "text_highlight");
  @include text-stroke(map_get($themeColors, 'light_orange'), 0.25px);
}

.defenseFlagDescriptor {
  @extend .meta;


  .item {

    &.short {
      display: inline-block;
      font-size: 1rem;
      position: relative;
      white-space: nowrap;
    }

    .icon {
      margin-right: $ui-margin*1.5 !important;
      margin-left: -$ui-margin*0.4 !important;
    }

    ins {
      text-decoration: none;
      font-style: normal;
    }

    &.short {
      ins {
        display: none;
      }

      line-height: 0;
      display: inline-block;
      margin-right: 0;

      &:last-child {
        margin-right: -$ui-margin;
      }

      .icon {
        margin-left: $ui-margin;

        &:first-child {
          margin-left: 0;
        }

        margin-right: 0;
      }
    }
  }

}