@import '../../../Templates/template';

.icon {
	width: 1.3em;
	height: 1.3em;
	border: none;
	outline: none;
}

.resourceDescriptor {
	composes: captionWithIcon from '../../../index.scss';
	.icon {
		margin-left: -$ui-half-margin;
		margin-right: $ui-margin * 1.5 !important;
	}
}

.resourceCaption {
	@include text-perk-base;
	color: map_get($themeColors, 'text_highlight') !important;
	@include text-stroke(map_get($themeColors, 'light_golden'), 0.25px);
}

.resourceValue {
	@include metaValue(map_get($themeColors, 'light_golden'));

	.modifier {
		@include metaModifier(map_get($themeColors, 'light_golden'), map_get($themeColors, 'light_red'));
	}
}
