.iconContainerWrapper {
	display: block;
	width: 100%;
	height: 100%;
}

svg.iconContainer {
	position: fixed;
	right: 200vmax;
	top: 200vmax;
}

.filterWrapper {
	position: relative;
	display: inline-block;
	vertical-align: baseline;
	width: 100%;
	height: 100%;

	svg {
		width: 100%;
		height: 100%;
	}
}
