@import "../../Templates/template";

.reconLevelDescriptor {
  @extend .meta;
}

.reconLevelCaption {
  @extend .metaCaption;
  color:map_get($themeColors,'light_teal') !important;
  @include text-shadow-thin(map_get($themeColors,'dark_blue'))
}

.counterReconLevelCaption {
  @extend .metaCaption;
  color:map_get($themeColors,'light_purple') !important;
  @include text-stroke(map_get($themeColors,'light_pink'),0.25px);
}

.reconLevel {
  @include metaValue(map_get($themeColors,'tealish'));
  @include text-sharp;
}

.counterReconLevel {
  @include metaValue(map_get($themeColors,'light_orange'));
  @include text-sharp;
}

.modifier {
  @include metaModifier();
}