@import "../../../Templates/template";

.speed {

}

.speedCaption {
  color: map_get($themeColors, 'light_green');
  @include text-stroke(map_get($themeColors, 'light_teal'), 0.25px);
}

.movement {
  @include font-monospace;
  color: map_get($themeColors, 'text_highlight') !important;

  &.ground {
    @include text-stroke(map_get($themeColors, 'rust'), 0.25px);
    color:map_get($themeColors,'light_orange') !important;
  }

  &.air {
    @include text-stroke(map_get($themeColors, 'text_highlight'), 0.25px);
    color:map_get($themeColors,'light_purple') !important;
  }

  &.naval {
    @include text-stroke(map_get($themeColors, 'dark_blue'), 0.25px);
    color:map_get($themeColors,'light_blue') !important;
  }

  &.hover {
    @include text-stroke(map_get($themeColors, 'tealish'), 0.25px);
    color:map_get($themeColors,'light_teal') !important;
  }
}

.speedDescriptor {
  @extend .meta;

  .value {
    @include font-monospace;
    color: map_get($themeColors, 'text_highlight');
    @include text-stroke(map_get($themeColors, 'grass_green'), 0.25px);
  }

  .zero {
    @include text-sharp;
    color: map_get($themeColors, 'light_red');
  }

  .max {
    color: map_get($themeColors, 'light_green');
    @include text-stroke(map_get($themeColors, 'light_teal'), 0.25px);
  }

  .modifier {
    @include metaModifier();
  }
}