@import "../../Templates/template";

.actionTable {
    @extend .meta;
}

.actionPhaseCaption {
  @extend .metaCaption;
  padding-bottom: 0;
}

.actionPhaseNumber {
  @include font-caption-bold;
  color:map_get($themeColors,'text_highlight');

  @include text-shadow-thin(map_get($themeColors,'golden'));
}

.tableWrapper {
  width:100% !important;
  display: flex;
  flex-flow: column nowrap;
  align-content: stretch;
  align-items: stretch;
  justify-content: stretch;

  .tr {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    line-height: 1;
  }

  .actionPhaseNumber{
    padding-right: 0 !important;
    text-align: right;
    padding-bottom: 0;
    line-height: 1.25;
    justify-content: flex-end;
  }

  .td {
    padding:$ui-margin 0;
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    white-space: nowrap;
  }
  .actionButton{
    width:100% !important;
    padding-right: 0 !important;
    display: inherit;
    position: relative;
  }

  .actionType {
    flex: 4 1;
    align-self: stretch;
    max-width: 50%;
    padding-left:0 !important;
    justify-content: flex-start;
    line-height: 1.25;
  }

  :not(.actionPhaseCaption).actionType {
    padding-top: 0;
  }

  .actionSegments {
    width:100%;
    height: 0.8em;
    transform: translate(0.25em, 0.6em);
  }

  .actionBar {
    position: relative;
    min-width: 1em;
    .filled {
      display:block;
      border-radius: 0.2em;
      outline: map_get($themeColors,'text_dark');
      transform: translate(70%, 50%);
      position: relative;
      width:60%;
      height:50%;
      box-sizing: border-box;
      @include gradient-vertical-three-colors(map_get($themeColors,'light_pink'),map_get($themeColors,'golden'),40%, map_get($themeColors,'light_red'));
      border:2px ridge map_get($themeColors,'text_dark');
    }
  }
}