@import '../../../Templates/template';

.levelingDescriptor {
	@extend .meta;

	dt {
		width: 100% !important;
	}

	.levelBar {
		width: 100%;
	}

	.levelCaptions {
		width: 100%;
		height: 1rem;
		position: relative;
		z-index: $tooltipZIndex - 1;

		.txtLabel {
			@include font-bold;
			position: absolute;
			top: 25%;
			color: map_get($themeColors, 'text_main');
			z-index: -1;
			font-size: 0.8em;
			transform: translate(0, -50%);

			&:first-child {
				transform: translate(-$ui-half-margin, -50%);
			}

			/*  &:not(:first-child):not(:last-child) {
        transform: translate(-$ui-margin, -50%);
      }*/

			& > b {
				@include font-monospace-bold;
				color: map_get($themeColors, 'light_blue');
				@include text-glow(map_get($themeColors, 'text_highlight'));
			}
		}
	}

	.xpCaptions {
		width: 100%;
		position: relative;
		z-index: $tooltipZIndex;

		.txtLabel {
			@include font-monospace;
			z-index: -1;
			position: absolute;
			top: 50%;
			margin-top: -0.1em;
			color: map_get($themeColors, 'light_golden');
			font-size: 0.9em;
			transform: translate(0, -50%);

			&:first-child {
				transform: translate(-$ui-half-margin, -50%);
			}
		}

		& > b {
			@include font-monospace;
			font-weight: normal;
			color: map_get($themeColors, 'text_highlight');
			@include text-shadow-thin(map_get($themeColors, 'light_blue'));
		}
	}
}
