@import '../../Templates/template';

.technologyIcon {
	composes: inlineIcon from '../../index.scss';
	margin-top: -$ui-margin !important;
	font-size: 1rem;
}

.technologyCaption {
	@include text-perk;
	color: map_get($themeColors, 'light_golden');
	font-weight: normal;
	font-size: 1rem;
}
