@import "../../../Templates/template";

.dodgeDescriptor {
  font-size: 1em;
  position: relative;
  white-space: nowrap;
  composes: captionWithIcon from global;

  .dodgeCaption {
    display: inline-block;
    vertical-align: middle;
  }

}

.dodgeCaption {
  color: map_get($themeColors, 'text_highlight');
  @include text-stroke(map_get($themeColors, 'light_purple'), 0.25px);
}