@import "../template";

.icon {
}

.valuePlaque {
  @extend .__icon_plaque;
  padding: $ui-padding $ui-padding $ui-margin %$ui-padding;

  .frame {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  color: map_get($themeColors, "text_dark");
}