@import '../../Templates/template';

@mixin talentColor {
	color: map_get($themeColors, 'golden');
	@include text-glow(map-get($themeColors, 'text_highlight'));
}

@mixin talentHighlight {
	color: map_get($themeColors, 'light_orange');
	@include text-stroke(map-get($themeColors, 'light_golden'), 0.02em);
}

.talentIcon {
	composes: inlineIcon from '../../index.scss';
	margin-top: -$ui-margin !important;
	font-size: 1.1rem;
}

.talentValue,
.talentHighlight {
	@include font-monospace;
	font-weight: normal;
}

.talentValue {
	@include talentColor;
}

.talentHighlight {
	@include talentHighlight;
}

.talentCaption {
	@include text-perk;
	@include talentColor;
}

.talentCaptionHighlight {
	@include text-perk;
	@include talentHighlight;
}
