@import "../../Templates/template";

.actionCounter {
    @extend .meta;
}

.actionPhaseCaption {
  @extend .metaCaption;
}

.actionPhaseNumber {
  @include font-caption-bold;
  color:map_get($themeColors,'text_highlight');
  @include text-shadow-thin(map_get($themeColors,'golden'));
}
