@import "../template";

.icon {
  composes: inlineIcon from "../../../UI/index.scss";
}


.iconWithValue {
  @extend .__icon_plaque;

  .icon {
    width: 1.25rem;
    height: 1.25rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: $ui-margin;
  }

  color: map_get($themeColors, "text_dark");

  .tooltip {
    display: none;
  }

  &:hover {
    .tooltip {
      display: block;
      left: 50%;
      top: 50%;
    }
  }
}