@import '../../Templates/template';

$menuFontSize: 1rem;
$menuFontGap: 0.5rem;

.topMenuBarWrapper {
	&.floating {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 9999;
	}
	width: 100%;
	display: flex;
	flex-direction: row;
	align-content: space-around;
	user-select: none;
	pointer-events: none;

	.topMenuBar {
		pointer-events: all;
		height: 3rem;
		width: 100%;
		max-width: 80rem;
		@include gradient-vertical(
			transparentize(map_get($themeColors, 'text_dark'), 0.25),
			transparentize(map_get($themeColors, 'navy_blue'), 0.25)
		);
		border-bottom: 1px dotted map_get($themeColors, 'tealish');
		color: map_get($themeColors, 'text_highlight');
		@include font-serif;
		font-size: $menuFontSize;
		line-height: $menuFontGap;
		border-bottom-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
		box-sizing: border-box;
		margin: auto;
		position: relative;
		padding: $menuFontGap 1rem $ui-margin;

		.settingsButton {
			height: 100%;
			aspect-ratio: 1/1;
			max-width: fit-content;
			position: absolute;
			right: 0;
			top: 50%;
			padding: 0.75rem;
			transform: translateY(-50%);
			cursor: pointer;

			svg > path {
				transition: $hover-animation-speed ease-in-out all;
				transform-origin: 50% 50%;
				fill: map_get($themeColors, 'text_highlight');
				stroke: map_get($themeColors, 'text_dark');
				stroke-width: 5px;
			}

			&:hover,
			&.selected {
				svg > path {
					fill: map_get($themeColors, 'light_blue');
					stroke: map_get($themeColors, 'light_teal');
					stroke-width: 25px;

					&:nth-child(2n + 1) {
						transform: rotate(180deg);
					}

					&:nth-child(2n) {
						transform: rotate(-180deg);
					}
				}
			}
		}
	}
}
