@import "../template";

$circleRadius: 0.6rem;

.iconWithValue {
  @extend .__icon_plaque;

  .icon {
    @include box-shadow;
    position: relative;
    margin-left: -$ui-margin;
    width: $circleRadius*2;
    height: $circleRadius*2;
    box-sizing: border-box;
    margin-top: 0;
    border-radius: $circleRadius;
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 0 2px;
  }

  .svg {
    position: absolute;
    top: $circleRadius*0.4;
    left: $circleRadius*.75;
    width: $circleRadius*1.6;
    height: $circleRadius*1.6;

    & > * {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .frame {

  }
}