@import '../../../Templates/template';
@import '../../../../../sass/damagePalette';


.damageTypeDescriptor {
  position: relative;
  @include text-sharp;
}

.dmgText{
  composes: captionWithIcon from "../../../index.scss";
  @include text-perk;
  font-weight: bold !important;
  @include text-sharp;
}

.dmgType {
  @extend .dmgText;
  display: inline-block;
  line-height: 1;
  position: relative;
}


small {
  font-size: 0.9em;
}

.dmg_wildcard {
  color: map_get($themeColors, 'text_highlight');
  @include text-stroke(map_get($themeColors, 'light_green'), 0.04em);
}

.dmg-fg {
  @each $name, $hex in $damageColors {
    &-#{$name} {
      color: $hex !important;
      @include text-sharp;
    }
  }
}

.dmg-bg {
  @include damage-color-modifiers('background-color');
}

.dmg-border {
  @include damage-color-modifiers('border-left-color');
  @include damage-color-modifiers('border-right-color');
  @include damage-color-modifiers('border-top-color');
  @include damage-color-modifiers('border-bottom-color');
}

.dmg-bg-gradient {
  @each $name, $hex in $damageColors {
    &-#{$name} {
      @include damage-gradient($hex);
      color: map_get($themeColors, "text_dark");
      text-shadow: 0 0 1px $hex;
    }
  }
}





