@import "../../Templates/template";

.maxUnitCostDescriptor {
  @extend .meta;
}

.maxUnitCostValue {
  @include metaValue(map_get($themeColors,'light_pink'));
  @include text-stroke(map_get($themeColors, 'light_blue'), 0.25px);
}

.modifier {
  @include metaModifier(map_get($themeColors, 'light_pink'), map_get($themeColors, 'light_red'));
}