@import "../../Templates/template";

$positiveEffectBg: adjust_color(map_get($themeColors, 'dark_green'), $saturation: -20%, $lightness: -25%, $alpha: -0.2);
$negativeEffectBg: adjust_color(map_get($themeColors, 'dark_purple'), $saturation: -20%, $lightness: -25%, $alpha: -0.2);
$effectPositiveMid: adjust_color(map_get($themeColors, 'secondary_bg'), $alpha: -0.25);
$effectNegativeMid: adjust_color(map_get($themeColors, 'dark_pink'), $alpha: -0.55);

.effectIcon {
  position: relative;
  overflow: visible;
  width: 1em;
  height: 1em;
  margin-right: $ui-padding;

  & > div {
    font-size: .6em;
  }
}

$borderColor: transparentize(map_get($themeColors, 'light_blue'), 0.7);
$borderColor2: transparentize(map_get($themeColors, 'dark_blue'), 0.7);

@keyframes borderColor {
  0% {
    border-bottom-color: $borderColor2;
    border-left-color: $borderColor2;
    border-top-color: $borderColor;
    border-right-color: $borderColor;
  }
  25% {
    border-bottom-color: $borderColor;
    border-left-color: $borderColor2;
    border-top-color: $borderColor2;
    border-right-color: $borderColor;
  }
  50% {
    border-bottom-color: $borderColor;
    border-left-color: $borderColor;
    border-top-color: $borderColor2;
    border-right-color: $borderColor2;
  }
  75% {
    border-bottom-color: $borderColor2;
    border-left-color: $borderColor;
    border-top-color: $borderColor;
    border-right-color: $borderColor2;
  }
  100% {
    border-bottom-color: $borderColor2;
    border-left-color: $borderColor2;
    border-top-color: $borderColor;
    border-right-color: $borderColor;
  }
}

@keyframes bgMove {
  0% {
    background-size: 150%;
    background-position-x: -.1em;
    background-position-y: .1em;
  }

  33% {
    background-size: 200%;
    background-position-x: .2em;
    background-position-y: -0.5em;
  }

  66% {
    background-size: 120%;
    background-position-x: -0.5em;
    background-position-y: 0.2em;
  }

  100% {
    background-size: 150%;
    background-position-x: -.1em;
    background-position-y: .1em;
  }
}

.tooltipCaption {
  font-size: 1em !important;
}

.effectCaption {
  @include text-perk;
  font-weight: bold;

  &.positive {
    color: map_get($themeColors, 'light_blue');
    @include text-stroke(map_get($themeColors, 'light_purple'), 0.25px);
  }

  &.negative {
    color: map_get($themeColors, 'light_orange');
    @include text-stroke(map_get($themeColors, 'light_pink'), 0.25px);
  }

}

.effectCard {
  position: relative;
  font-size: 1rem;
  display: block;
  max-width: unset;
  margin: $ui-margin -1.5*$ui-padding 0;
  box-sizing: border-box;
  border-radius: $ui-padding;

  &.positive {
    border-color: map_get($themeColors, 'dark_green');

    .bg {
      background: $positiveEffectBg;
      background: linear-gradient(-85deg, $positiveEffectBg 0%, $effectPositiveMid 43%, adjust_color(map_get($themeColors, 'dark_blue'), $lightness: -25%, $saturation: -10%, $alpha: -0.15) 100%);;

    }
  }

  &.negative {
    border-color: map_get($themeColors, 'dark_purple');

    .bg {
      background: $positiveEffectBg;
      background: linear-gradient(-105deg, $negativeEffectBg 0%, $effectNegativeMid 43%, adjust_color(map_get($themeColors, 'dark_red'), $lightness: -25%, $saturation: -20%, $alpha: -0.15) 100%);
    }
  }

  .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    object-fit: contain;
    background-size: 200%;
    background-repeat: revert;
    animation: bgMove 12s 0s infinite;
    border-radius: $ui-padding;

    canvas {
      mix-blend-mode: soft-light;
      opacity: 0.6;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
    }

    &::before, &::after {
      mix-blend-mode: screen;
      z-index: 1000;
      content: '';
      pointer-events: none;
      border-radius: $ui-padding;
      box-sizing: border-box;
      position: absolute;
      border: 1px dotted transparent;
      width: 100%;
      height: 100%;
    }

    &::before {
      top: 0;
      left: 0;
      animation: borderColor 10s 0s infinite;
    }

    &::after {
      border-top-color: $borderColor;
      border-right-color: $borderColor;
      bottom: 0;
      right: 0;
      animation: borderColor 10s 5s infinite;
    }
  }

  .effectExpiration {
    @include font-bold;
    color: map_get($themeColors, 'text_highlight');

    &.unremovable {
      @include text-outline(map_get($themeColors, 'light_red'));
    }

    &:not(.unremovable) {
      @include text-outline(map_get($themeColors, 'light_green'));
    }
  }

  .effectPersistence {
    @include font-bold;
    color: map_get($themeColors, 'text_highlight');
  }

  .content {
    padding: $ui-padding $ui-margin*2;
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    border-radius: $ui-padding;
    border: 1px ridge transparent;


    .effectLore {
      @include text-description;
      font-size: 0.9em;
      margin: $ui-margin 0;

      em {
        font-style: normal !important;
        color: map_get($themeColors, 'text_highlight') !important;
      }

      &.positive {
        color: map_get($themeColors, 'light_blue') !important;
        @include text-stroke(map_get($themeColors, 'light_green'), 0.01em);
      }

      &.negative {
        color: map_get($themeColors, 'light_orange') !important;
        @include text-stroke(map_get($themeColors, 'light_golden'), 0.01em);
      }
    }

    .effectDescriptor {
      @extend .meta;

      .duration {
        white-space: nowrap;
      }
    }
  }
}

