@import './Templates/template';

@each $name, $hex in $themeColors {
@value color-#{$name} #{''+$hex};
}

.inlineIcon {
  line-height: 1;
  margin-right: $ui-half-margin;
  margin-top: -$ui-half-margin;
  vertical-align: middle;
  display: inline-block;
  height: 1em;
  width: 1em;
  border: none;
  outline: none !important;
}

em {
  text-transform: none !important;
  font-style: normal !important;
  color: map_get($themeColors, 'text_highlight');
  -webkit-text-stroke: initial !important;
  text-stroke: initial !important;

  .inlineIcon {
    margin-right: $ui-quarter-margin !important;
  }
}

.__hasTooltip {
  position: relative;

  .tooltipGlobal {
    display: none;
    left: 50%;
    top: 90%;
  }

  &:hover {
    .tooltipGlobal {
      display: block;
    }
  }
}

.captionWithIcon {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
}

.captionWithoutIcon {
  @extend .captionWithIcon;

  .captionWithIcon > .inlineIcon {
    display: none !important;
  }
}

.descriptor {
  .inlineIcon,
  & > em > .inlineIcon {
    margin-right: 2 * $ui-margin !important;
  }

  position: relative;
}

.tooltipGlobal {
  display: none;
  z-index: $tooltipZIndex;
  position: absolute;
  border-radius: $ui-padding-big;
  white-space: normal !important;
  text-transform: initial;
  min-width: 20em;
  min-height: 3em;
  text-align: left;
  font-size: $tooltipFontSize;
  background-color: map_get($themeColors, 'tooltip_bg');
  @include box-glow(map_get($themeColors, 'light_blue'));
  @include text-description;
  @include font-main;
  padding: $ui-padding-big 2 * $ui-margin;
  box-sizing: border-box;
  line-height: 1.3;

  b,
  strong {
    color: map_get($themeColors, 'text_highlight');
    @include text-sharp;
  }

  & > strong, & > span strong {
    @include text-perk-base;
    white-space: normal !important;
    font-weight: bold;
    font-size: 1.1em;
  }

  em,
  small {
    font-size: unset !important;
    -webkit-text-stroke: initial !important;
    text-stroke: revert !important;
  }

  hr {
    background: map_get($themeColors, 'text_main');
    border-color: map_get($themeColors, 'text_main');
  }

  .descriptor {
    .inlineIcon,
    & > em > .inlineIcon {
      margin-right: 2 * $ui-margin !important;
    }
  }

  .inlineIcon {
    margin-right: $ui-half-margin !important;
    margin-top: -$ui-half-margin;
    vertical-align: middle;
    display: inline-block;
    height: 1em !important;
    width: 1em !important;
  }

  //@include text-glow(map_get($themeColors, 'dark_green'))

  .tooltipIcon {
    float: left !important;
    width: 2.7rem !important;
    height: 2.7rem !important;
    font-size: 2em;
    position: relative;
    margin: calc(#{$ui-margin} + 0.15rem) calc(#{$ui-margin} + 0.15rem) 0 0 !important;
  }
}
