@import "../../../Templates/template";

.radiusCaption {
  text-shadow: none !important;
  color: map_get($themeColors, 'light_golden') !important;
  @include text-stroke(map_get($themeColors, 'light_red'), 0.1px);
}

.auraCaption {
  text-shadow: none !important;
  color: map_get($themeColors, 'light_blue') !important;
  @include text-stroke(map_get($themeColors, 'light_green'), 0.1px);
}

.aoeValue {
  @include font-monospace;
  color: map_get($themeColors, 'light_golden');
  @include text-stroke(map_get($themeColors, 'light_red'), 0.1px);
}

.auraValue {
  @include font-monospace;
  color: map_get($themeColors, 'light_blue') !important;
  @include text-stroke(map_get($themeColors, 'light_green'), 0.1px);
}

.radiusDescriptor {

  @extend .meta;

  .radiusCaption {
    position: relative;
  }

  .weaponRadiusValue {
    .value {
      @extend .aoeValue
    }
  }

  .auraRadiusValue {
    .value {
      @extend .auraValue
    }
  }

  .modifier {
    @include metaModifier(map_get($themeColors, 'light_orange'), map_get($themeColors, 'light_red'));
  }
}